@page "{handler?}"
@using ERPSEI.Data.Managers;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using ERPSEI.Areas.Catalogos.Pages;
@using ERPSEI.Data.Entities.Empresas;
@model EmpresasModel
@inject IViewLocalizer Localizer;
@inject IRWCatalogoManager<Origen> OrigenesManager;
@inject IRWCatalogoManager<Nivel> NivelesManager;
@inject IRWCatalogoManager<ActividadEconomica> ActividadesEconomicasManager;
@{
	ViewData["Title"] = Localizer["Title"];

	// Retrieves the requested culture
	IRequestCultureFeature? rqf = Request.HttpContext.Features.Get<IRequestCultureFeature>();

	// Culture contains the information of the requested culture
	System.Globalization.CultureInfo? culture = rqf != null ? rqf.RequestCulture.Culture : new System.Globalization.CultureInfo("es-MX");

	string cultureName = culture.Name;

	List<Origen> origenes = await OrigenesManager.GetAllAsync();
	List<Nivel> niveles = await NivelesManager.GetAllAsync();
	List<ActividadEconomica> actividadesEconomicas = await ActividadesEconomicasManager.GetAllAsync();
}
<h3 class="title mb-3">@ViewData["Title"]</h3>

<!-- --------------------------- -->
<!-- Sección de filtros -------- -->
<div class="accordion shadow mb-5" id="accordionFiltros">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button p-2 bg-gradient bg-primary bg-opacity-10 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				<h6>@Localizer["FilterTitle"]</h6>
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFiltros">
			<div class="accordion-body">
				<form id="filtros" method="post">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-4">
							<div class="form-floating mb-3">
								<select id="selFiltroOrigen" asp-for="InputFiltro.OrigenId" class="form-select" placeholder="@Localizer["OrigenPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										foreach (Origen origen in origenes)
										{
											<option value='@origen.Id'>@origen.Nombre</option>
										}
									}
								</select>
								<label for="selFiltroOrigen" asp-for="InputFiltro.OrigenId" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-4">
							<div class="form-floating mb-3">
								<select id="selFiltroNivel" asp-for="InputFiltro.NivelId" class="form-select" placeholder="@Localizer["NivelPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										foreach (Nivel nivel in niveles)
										{
											<option value='@nivel.Id'>@nivel.Nombre</option>
										}
									}
								</select>
								<label for="selFiltroNivel" asp-for="InputFiltro.NivelId" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-4">
							<div class="form-floating mb-3">
								<input id="inpFiltroActividadEconomica" type="search" asp-for="InputFiltro.ActividadEconomicaId" class="form-control" placeholder="@Localizer["ActividadEconomicaPlaceholder"]" idselected='' area="Catalogos" module="Empresas" source="GetActividadesEconomicasSuggestion" />
								<label for="inpFiltroActividadEconomica" asp-for="InputFiltro.ActividadEconomicaId" class="form-label"></label>
							</div>
						</div>
					</div>
				</form>
				<div class="row text-end">
					<div class="col-12">
						<button id="btnBuscar" class="btn btn-primary" onclick="onBuscarClick();">
							<i class="bi bi-search"></i> @Localizer["SearchButton"]
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección tabla de resultados -->
<div id="toolbar" class="col-xl-12">
	<button id="btnAgregar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dlgEmpresa" onclick="onAgregarClick();">
		<i class="bi bi-plus-lg"></i> <span class="d-none d-sm-inline">@Localizer["AddButton"]</span>
	</button>
	<button id="remove" class="btn btn-danger" disabled>
		<i class="bi bi-trash"></i> <span class="d-none d-sm-inline">@Localizer["DeleteButton"]</span>
	</button>
</div>
<table id="table" class="table-sm"
		data-unique-id="id"
		data-toolbar="#toolbar"
		data-search="true"
		data-show-toggle="true"
		data-show-fullscreen="true"
		data-show-columns="true"
		data-show-columns-toggle-all="true"
		data-show-export="true"
		data-click-to-select="true"
		data-minimum-count-columns="2"
		data-show-pagination-switch="true"
		data-pagination="true"
		data-id-field="id"
		data-page-list="[10, 25, 50, 100, all]"
		data-show-footer="false"
		data-side-pagination="client"
		data-response-handler="responseHandler"
		data-buttons-class="primary"
		data-buttons="additionalButtons">
	<thead>
		<tr align="center" valign="middle" class="bg-primary bg-opacity-10">
		</tr>
	</thead>
</table>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección Nuevo/Editar/Ver Registro --- -->
<div id="dlgEmpresa" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="dlgEmpresaTitle" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body align-items-center">
				<form id="theForm" method="post">
					<div class="container-fluid">
						<div class="row">
							<div class="col-3 col-lg-2">
								<div class="form-floating mb-3">
									<input id="inpEmpresaId" asp-for="InputEmpresa.Id" type="text" class="form-control" />
									<label for="inpEmpresaId" asp-for="InputEmpresa.Id" class="form-label"></label>
									<span asp-validation-for="InputEmpresa.Id" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div id="saveValidationSummary" class="text-danger mb-3" role="alert"></div>
						<div class="accordion shadow-sm mb-5" id="accordionOne">
							<div class="accordion-item">
								<h2 class="accordion-header" id="primerSeccion">
									<button class="accordion-button p-2 bg-gradient bg-primary bg-opacity-10 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSectionOne" aria-expanded="true" aria-controls="collapseSectionOne">
										<h5>@Localizer["EmpresaPrimerSeccionTitle"]</h5>
									</button>
								</h2>
								<div id="collapseSectionOne" class="accordion-collapse collapse show" aria-labelledby="primerSeccion" data-bs-parent="#accordionOne">
									<div class="accordion-body">
										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-4">
												<div class="form-floating mb-3">
													<input id="inpEmpresaRazonSocial" asp-for="InputEmpresa.RazonSocial" type="text" class="form-control formInput" placeholder="@Localizer["RazonSocialPlaceholder"]" />
													<label for="inpEmpresaRazonSocial" asp-for="InputEmpresa.RazonSocial" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.RazonSocial" class="text-danger"></span>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-4">
												<div class="form-floating mb-3">
													<input id="inpEmpresaAdministrador" type="text" asp-for="InputEmpresa.Administrador" class="form-control formInput" placeholder="@Localizer["AdministradorPlaceholder"]" />
													<label for="inpEmpresaAdministrador" asp-for="InputEmpresa.Administrador" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.Administrador" class="text-danger"></span>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-4">
												<div class="form-floating mb-3">
													<input id="inpEmpresaAccionista" type="text" asp-for="InputEmpresa.Accionista" class="form-control formInput" placeholder="@Localizer["AccionistaPlaceholder"]" />
													<label for="inpEmpresaAccionista" asp-for="InputEmpresa.Accionista" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.Accionista" class="text-danger"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-6 col-lg-3">
												<div class="form-floating mb-3">
													<input id="inpEmpresaRFC" asp-for="InputEmpresa.RFC" type="text" class="form-control formInput" placeholder="@Localizer["RFCPlaceholder"]" />
													<label for="inpEmpresaRFC" asp-for="InputEmpresa.RFC" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.RFC" class="text-danger"></span>
												</div>
											</div>
											<div class="col-sm-12 col-md-6 col-lg-3">
												<div class="form-floating mb-3">
													<select id="selEmpresaOrigen" asp-for="InputEmpresa.OrigenId" class="form-select formSelect" placeholder="@Localizer["OrigenPlaceholder"]">
														@{
															foreach (Origen origen in origenes)
															{
																<option value='@origen.Id'>@origen.Nombre</option>
															}
														}
													</select>
													<label for="selEmpresaOrigen" asp-for="InputEmpresa.OrigenId" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.OrigenId" class="text-danger"></span>
												</div>
											</div>
											<div class="col-sm-12 col-md-6 col-lg-3">
												<div class="form-floating mb-3">
													<select id="selEmpresaNivel" asp-for="InputEmpresa.NivelId" class="form-select formSelect" placeholder="@Localizer["NivelPlaceholder"]">
														@{
															foreach (Nivel nivel in niveles)
															{
																<option value='@nivel.Id'>@nivel.Nombre</option>
															}
														}
													</select>
													<label for="selEmpresaNivel" asp-for="InputEmpresa.NivelId" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.NivelId" class="text-danger"></span>
												</div>
											</div>
											<div class="col-sm-12 col-md-6 col-lg-3">
												<div class="form-floating mb-3">
													<input id="inpEmpresaTelefono" asp-for="InputEmpresa.Telefono" type="text" class="form-control formInput" placeholder="@Localizer["PhonePlaceholder"]" />
													<label for="inpEmpresaTelefono" asp-for="InputEmpresa.Telefono" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.Telefono" class="text-danger"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<div class="form-floating mb-3">
													<textarea id="txtEmpresaDomicilioFiscal" maxlength="300" oninput="calculateTextAreaHeight(this);" asp-for="InputEmpresa.DomicilioFiscal" class="form-control formInput" placeholder="@Localizer["DireccionPlaceholder"]"></textarea>
													<label for="txtEmpresaDomicilioFiscal" asp-for="InputEmpresa.DomicilioFiscal" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.DomicilioFiscal" class="text-danger"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
												<div class="form-floating mb-3">
													<input id="inpEmpresaCorreoGeneral" asp-for="InputEmpresa.CorreoGeneral" type="text" class="form-control formInput" placeholder="@Localizer["CorreoGeneralPlaceholder"]" />
													<label for="inpEmpresaCorreoGeneral" asp-for="InputEmpresa.CorreoGeneral" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.CorreoGeneral" class="text-danger"></span>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
												<div class="form-floating mb-3">
													<input id="inpEmpresaCorreoBancos" asp-for="InputEmpresa.CorreoBancos" type="text" class="form-control formInput" placeholder="@Localizer["CorreoBancosPlaceholder"]" />
													<label for="inpEmpresaCorreoBancos" asp-for="InputEmpresa.CorreoBancos" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.CorreoBancos" class="text-danger"></span>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
												<div class="form-floating mb-3">
													<input id="inpEmpresaCorreoFiscal" asp-for="InputEmpresa.CorreoFiscal" type="text" class="form-control formInput" placeholder="@Localizer["CorreoFiscalPlaceholder"]" />
													<label for="inpEmpresaCorreoFiscal" asp-for="InputEmpresa.CorreoFiscal" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.CorreoFiscal" class="text-danger"></span>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
												<div class="form-floating mb-3">
													<input id="inpEmpresaCorreoFacturacion" asp-for="InputEmpresa.CorreoFacturacion" type="text" class="form-control formInput" placeholder="@Localizer["CorreoFacturacionPlaceholder"]" />
													<label for="inpEmpresaCorreoFacturacion" asp-for="InputEmpresa.CorreoFacturacion" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.CorreoFacturacion" class="text-danger"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
												<div class="form-floating mb-3">
													<div class="form-floating mb-3">
														<input id="inpEmpresaFechaConstitucion" type="date" asp-for="InputEmpresa.FechaConstitucion" class="form-control formInput" placeholder="@Localizer["FechaConstitucionPlaceholder"]" />
														<label for="inpEmpresaFechaConstitucion" asp-for="InputEmpresa.FechaConstitucion" class="form-label required"></label>
														<span asp-validation-for="InputEmpresa.FechaConstitucion" class="text-danger"></span>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
												<div class="form-floating mb-3">
													<div class="form-floating mb-3">
														<input id="inpEmpresaFechaInicioOperacion" type="date" asp-for="InputEmpresa.FechaInicioOperacion" class="form-control formInput" placeholder="@Localizer["FechaInicioOperacionPlaceholder"]" />
														<label for="inpEmpresaFechaInicioOperacion" asp-for="InputEmpresa.FechaInicioOperacion" class="form-label required"></label>
														<span asp-validation-for="InputEmpresa.FechaInicioOperacion" class="text-danger"></span>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
												<div class="form-floating mb-3">
													<div class="form-floating mb-3">
														<input id="inpEmpresaFechaInicioFacturacion" type="date" asp-for="InputEmpresa.FechaInicioFacturacion" class="form-control formInput" placeholder="@Localizer["FechaInicioFacturacionPlaceholder"]" />
														<label for="inpEmpresaFechaInicioFacturacion" asp-for="InputEmpresa.FechaInicioFacturacion" class="form-label required"></label>
														<span asp-validation-for="InputEmpresa.FechaInicioFacturacion" class="text-danger"></span>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
												<div class="form-floating mb-3">
													<div class="form-floating mb-3">
														<input id="inpEmpresaFechaInicioAsimilados" type="date" asp-for="InputEmpresa.FechaInicioAsimilados" class="form-control formInput" placeholder="@Localizer["FechaInicioAsimiladosPlaceholder"]" />
														<label for="inpEmpresaFechaInicioAsimilados" asp-for="InputEmpresa.FechaInicioAsimilados" class="form-label required"></label>
														<span asp-validation-for="InputEmpresa.FechaInicioAsimilados" class="text-danger"></span>
													</div>
												</div>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-12">
												<div class="form-floating mb-3">
													<textarea id="txtEmpresaObjetoSocial" maxlength="5000" oninput="calculateTextAreaHeight(this);" asp-for="InputEmpresa.ObjetoSocial" class="form-control formInput" placeholder="@Localizer["ObjetoSocialPlaceholder"]"></textarea>
													<label for="txtEmpresaObjetoSocial" asp-for="InputEmpresa.ObjetoSocial" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.ObjetoSocial" class="text-danger"></span>
												</div>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-12">
												<div class="form-floating mb-3 ui-front">
													<input id="inpEmpresaActividadEconomica" type="search" asp-for="InputEmpresa.ActividadEconomicaId" class="form-control formInput" placeholder="@Localizer["ActividadEconomicaPlaceholder"]" idselected='' area="Catalogos" module="Empresas" source="GetActividadesEconomicasSuggestion" />
													<label for="inpEmpresaActividadEconomica" asp-for="InputEmpresa.ActividadEconomicaId" class="form-label required"></label>
													<span asp-validation-for="InputEmpresa.ActividadEconomicaId" class="text-danger"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion shadow-sm mb-5" id="accordionTwo">
							<div class="accordion-item">
								<h2 class="accordion-header" id="segundaSeccion">
									<button class="accordion-button p-2 bg-gradient bg-primary bg-opacity-10 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSectionTwo" aria-expanded="true" aria-controls="collapseSectionTwo">
										<h5>@Localizer["EmpresaSegundaSeccionTitle"]</h5>
									</button>
								</h2>
								<div id="collapseSectionTwo" class="accordion-collapse collapse show" aria-labelledby="segundaSeccion" data-bs-parent="#accordionTwo">
									<div class="accordion-body">
										<div class="col-12 text-end mb-3">
											<button id="dlgEmpresaBtnAgregarBanco" type="button" class="btn btn-primary formButton" onclick="onAgregarBancoClick();">
												<i class="bi bi-plus-lg"></i> @Localizer["AgregarBancoButtonText"]
											</button>
										</div>
										<div id="bodyBancos" class="row"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion shadow-sm mb-5" id="accordionThree">
							<div class="accordion-item">
								<h2 class="accordion-header" id="terceraSeccion">
									<button class="accordion-button p-2 bg-gradient bg-primary bg-opacity-10 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSectionThree" aria-expanded="true" aria-controls="collapseSectionThree">
										<h5>@Localizer["EmpresaTercerSeccionTitle"]</h5>
									</button>
								</h2>
								<div id="collapseSectionThree" class="accordion-collapse collapse show" aria-labelledby="terceraSeccion" data-bs-parent="#accordionThree">
									<div class="accordion-body">
										<div class="alert alert-primary d-flex align-items-center mb-3" role="alert">
											<i class="bi bi-info-circle-fill me-2" style="font-size: x-large"></i>
											<div>
												@Localizer["DocumentSuggestion"] <a target="_blank" href="https://compressjpeg.com/es/">https://compressjpeg.com/es/</a>
											</div>
										</div>
										<div id="bodyArchivos" class="row"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" style="display: inline !important;">
				<div class="container row">
					<div class="col-5">
						<button id="dlgEmpresaBtnDesactivar" type="button" class="btn btn-danger formButton" data-bs-dismiss="modal">
							<i class="bi bi-ban"></i> @Localizer["DeactivateButton"]
						</button>
					</div>
					<div class="col-7 text-end">
						<button id="dlgEmpresaBtnCancelar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							<i class="bi bi-x-lg"></i> @Localizer["CancelButtonTitle"]
						</button>
						<button id="dlgEmpresaBtnGuardar" type="button" class="btn btn-primary formButton" onclick="onGuardarClick();">
							<i class="bi bi-floppy"></i> @Localizer["SaveButtonTitle"]
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección Importar Excel ---- -->
<div id="dlgImportarExcel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="dlgExcelTitle" class="modal-title">@Localizer["ImportExcelDialogTitle"]</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body align-items-center">
				<div class="alert d-flex align-items-center" role="alert">
					<i class="bi bi-1-circle-fill me-2" style="font-size: x-large"></i>
					<div>@Localizer["ImportExcelSuggestionA"]</div>
				</div>
                <div class="container">
                    <div class="row">
						<div class="col-12 text-center mb-3">
							<a id="dlgExcelBtnPlantilla" href="@Url.Page("Empresas", "DownloadPlantilla")" class="btn btn-primary">
								<i class="bi bi-file-earmark-ruled"></i> @Localizer["PlantillaButtonTitle"]
							</a>
						</div>
                    </div>
                </div>
				<div class="alert d-flex align-items-center" role="alert">
					<i class="bi bi-2-circle-fill me-2" style="font-size: x-large"></i>
                    <div>@Localizer["ImportExcelSuggestionB"]</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<form id="importForm" method="post">
								<input asp-for="InputImportar.Plantilla" id="excelFile" onchange="onExcelSelectorChanged(this);" class="form-control" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
								<span asp-validation-for="InputImportar.Plantilla" class="text-danger"></span>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="dlgExcelBtnCancelar" type="button" class="btn btn-secondary" onclick="onCerrarImportarClick();" data-bs-dismiss="modal">
					<i class="bi bi-x-lg"></i> @Localizer["CancelButtonTitle"]
				</button>
				<button id="dlgExcelBtnImportar" type="button" class="btn btn-primary" onclick="onImportarClick();">
					<i class="bi bi-upload"></i> @Localizer["ImportButtonText"]
				</button>
			</div>
		</div>
	</div>
</div>
<!-- --------------------------- -->
<!-- --------------------------- -->

@section Scripts {
	<!-- Librería autocompletar y dependencias -->
	<link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
	<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
	<script src="~/js/autocompletar.js"></script>

	<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">

	<script src="~/lib/bootstrap-table/extensions/export/tableExport.min.js"></script>

	<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-es-MX.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-en-US.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>

	<link rel="stylesheet" href="~/css/Empresas.css" />
	<script src="~/../Areas/Catalogos/Pages/Empresas.cshtml.js"></script>

	<script type="text/javascript">
		var cultureName = "@cultureName";
		var btnImportarText = '@Localizer["ImportButtonText"]';
		var btnImportarTitle = '@Localizer["ImportButtonTitle"]';
		var btnEliminarTitle = '@Localizer["DeleteButton"]';
		var btnVerTitle = '@Localizer["SeeButtonTitle"]';
		var btnEditarTitle = '@Localizer["EditButtonTitle"]';
		var dlgEditarTitle = '@Localizer["EditDialogTitle"]';
		var dlgVerTitle = '@Localizer["SeeDialogTitle"]';
		var dlgNuevoTitle = '@Localizer["NewDialogTitle"]';
		var dlgDeleteTitle = '@Localizer["DeleteEmpresaDialogTitle"]';
		var dlgDeleteQuestion = '@Localizer["DeleteEmpresaDialogQuestion"]';
		var colNombreHeader = '@Localizer["ColNameHeader"]';
		var colOrigenHeader = '@Localizer["ColOrigenHeader"]';
		var colNivelHeader = '@Localizer["ColNivelHeader"]';
		var colAdministradorHeader = '@Localizer["ColAdministradorHeader"]';
		var colAccionistaHeader = '@Localizer["ColAccionistaHeader"]';
		var colActividadEconomicaHeader = '@Localizer["ColActividadEconomicaHeader"]';
		var colTelefonoHeader = '@Localizer["ColTelefonoHeader"]';
		var colCorreoHeader = '@Localizer["ColCorreoHeader"]';
		var colAccionesHeader = '@Localizer["ColActionsHeader"]';
		var dlgMaxBancosAllowedMessage = '@Localizer["MaxBancosAllowed"]';
		var maxFileSizeTitle = '@Localizer["MaxFileSizeTitle"]';
		var maxFileSizeMessage = '@Localizer["MaxFileSizeMessage"]';
		var fileFormatTitle = '@Localizer["FileFormatTitle"]';
		var fileFormatMessage = '@Localizer["FileFormatMessage"]';
		var nuevoRegistro = '@Localizer["Nuevo"]';
		var emptySelectItemText = '@Localizer["Seleccione"]';
		var empresaBancoTitle = '@Localizer["EmpresaBancoTitle"]';
		var bancoNombrePlaceholder = '@Localizer["BancoNombrePlaceholder"]';
		var responsablePlaceholder = '@Localizer["ResponsablePlaceholder"]';
		var firmantePlaceholder = '@Localizer["FirmantePlaceholder"]';
		var arrTiposDocumentos = {
			"1": '@Localizer["CSF"]',
			"2": '@Localizer["INE"]',
			"3": '@Localizer["RFC"]',
			"4": '@Localizer["ComprobanteDomicilio"]',
			"5": '@Localizer["Otro"]'
		};
		var invalidFormatTitle = '@Localizer["InvalidFormatTitle"]';
		var invalidFormatMsg = '@Localizer["InvalidFormatMsg"]';
	</script>

	<partial name="_ValidationScriptsPartial" />
}