@page "{handler?}"
@using ERPSEI.Data.Managers;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using ERPSEI.Areas.Catalogos.Pages;
@using ERPSEI.Data.Entities.Empleados;
@model GestionDeTalentoModel
@inject IViewLocalizer Localizer;
@inject IRWCatalogoManager<Puesto> PuestosManager;
@inject IRWCatalogoManager<Area> AreasManager;
@inject IRWCatalogoManager<Oficina> OficinasManager;
@inject IRWCatalogoManager<Subarea> SubareasManager;
@inject IRWCatalogoManager<Empleado> EmpleadosManager;

@inject IRCatalogoManager<Genero> GenerosManager;
@inject IRCatalogoManager<EstadoCivil> EstadosCivilesManager;
@{
	ViewData["Title"] = Localizer["Title"];

	// Retrieves the requested culture
	IRequestCultureFeature? rqf = Request.HttpContext.Features.Get<IRequestCultureFeature>();

	// Culture contains the information of the requested culture
	System.Globalization.CultureInfo? culture = rqf != null ? rqf.RequestCulture.Culture : new System.Globalization.CultureInfo("es-MX");

	string cultureName = culture.Name;

	List<Puesto> puestos = await PuestosManager.GetAllAsync();
	List<Area> areas = await AreasManager.GetAllAsync();
	List<Genero> generos = await GenerosManager.GetAllAsync();
	List<EstadoCivil> estadosCiviles = await EstadosCivilesManager.GetAllAsync();
	List<Subarea> subareas = await SubareasManager.GetAllAsync();
	List<Oficina> oficinas = await OficinasManager.GetAllAsync();
	List<Empleado> jefes = await EmpleadosManager.GetAllAsync();

	// List<Puesto> puestos = new List<Puesto>();
	// List<Area> areas = new List<Area>();
	// List<Genero> generos = new List<Genero>();
	// List<EstadoCivil> estadosCiviles = new List<EstadoCivil>();
	// List<Subarea> subareas = new List<Subarea>();
	// List<Oficina> oficinas = new List<Oficina>();
	// List<Empleado> jefes = new List<Empleado>();
}
<h3 class="title mb-3">@ViewData["Title"]</h3>

<!-- --------------------------- -->
<!-- Sección de filtros -------- -->
<form id="filtros" method="post">
	<div class="accordion shadow mb-5" id="accordionFiltros">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<h6>@Localizer["FilterTitle"]</h6>
				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFiltros">
				<div class="accordion-body">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroFechaIngresoInicio" type="date" asp-for="InputFiltro.FechaIngresoInicio" class="form-control" placeholder="@Localizer["FechaIngresoPlaceholder"]" />
								<label asp-for="InputFiltro.FechaIngresoInicio" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroFechaIngresoFin" type="date" asp-for="InputFiltro.FechaIngresoFin" class="form-control" placeholder="@Localizer["FechaIngresoPlaceholder"]" />
								<label asp-for="InputFiltro.FechaIngresoFin" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input type="date" asp-for="InputFiltro.FechaNacimientoInicio" class="form-control" placeholder="@Localizer["FechaNacimientoPlaceholder"]" />
								<label asp-for="InputFiltro.FechaNacimientoInicio" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input type="date" asp-for="InputFiltro.FechaNacimientoFin" class="form-control" placeholder="@Localizer["FechaNacimientoPlaceholder"]" />
								<label asp-for="InputFiltro.FechaNacimientoFin" class="form-label"></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<select asp-for="InputFiltro.Puesto" class="form-control" placeholder="@Localizer["PuestoPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										foreach (Puesto puesto in puestos)
										{
											<option value='@puesto.Id'>@puesto.Nombre</option>
										}
									}
								</select>
								<label asp-for="InputFiltro.Puesto" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<select asp-for="InputFiltro.Area" class="form-control" placeholder="@Localizer["AreaPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										foreach (Area area in areas)
										{
											<option value='@area.Id'>@area.Nombre</option>
										}
									}
								</select>
								<label asp-for="InputFiltro.Area" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<select asp-for="InputFiltro.Subarea" class="form-control" placeholder="@Localizer["SubareaPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										foreach (Subarea subarea in subareas)
										{
											<option value='@subarea.Id'>@subarea.Nombre</option>
										}
									}
								</select>
								<label asp-for="InputFiltro.Subarea" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<select asp-for="InputFiltro.Oficina" class="form-control" placeholder="@Localizer["OficinaPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										foreach (Oficina oficina in oficinas)
										{
											<option value='@oficina.Id'>@oficina.Nombre</option>
										}
									}
								</select>
								<label asp-for="InputFiltro.Oficina" class="form-label"></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input asp-for="InputFiltro.Nombre" class="form-control" placeholder="@Localizer["NombrePlaceholder"]" />
								<label asp-for="InputFiltro.Nombre" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input asp-for="InputFiltro.CURP" class="form-control" placeholder="@Localizer["CURPPlaceholder"]" />
								<label asp-for="InputFiltro.CURP" class="form-label"></label>
							</div>
						</div>
					</div>
					<div class="row text-end">
						<div class="col-12">
							<button id="btnBuscar" class="btn btn-primary">
								<i class="bi bi-search"></i> @Localizer["SearchButton"]
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección tabla de resultados -->
<div id="toolbar" class="col-xl-12">
	<button id="btnAgregar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dlgEmpleado" onclick="onAgregarClick();">
		<i class="bi bi-plus-lg"></i> <span class="d-none d-sm-inline">@Localizer["AddButton"]</span>
	</button>
	<button id="remove" class="btn btn-danger" disabled>
		<i class="bi bi-trash"></i> <span class="d-none d-sm-inline">@Localizer["DeleteButton"]</span>
	</button>
</div>
<table id="table" class="table-sm"
		data-unique-id="id"
		data-toolbar="#toolbar"
		data-search="true"
		data-show-refresh="true"
		data-show-toggle="true"
		data-show-fullscreen="true"
		data-show-columns="true"
		data-show-columns-toggle-all="true"
		data-detail-view="true"
		data-show-export="true"
		data-click-to-select="true"
		data-detail-formatter="detailFormatter"
		data-minimum-count-columns="2"
		data-show-pagination-switch="true"
		data-pagination="true"
		data-id-field="id"
		data-page-list="[10, 25, 50, 100, all]"
		data-show-footer="false"
		data-side-pagination="client"
		data-response-handler="responseHandler"
		data-buttons-class="primary"
		data-url="/Catalogos/GestionDeTalento/TalentList">
	<thead>
		<tr align="center" valign="middle" class="bg-primary bg-opacity-10">
		</tr>
	</thead>
</table>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección Nuevo/Editar/Ver Registro --- -->
<div id="dlgEmpleado" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="dlgEmpleadoTitle" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body align-items-center">
				<form id="theForm" method="post">
					<div class="container-fluid">
						<div class="row">
							<div class="col-2">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoId" asp-for="InputEmpleado.Id" type="text" class="form-control" />
									<label asp-for="InputEmpleado.Id" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.Id" class="text-danger"></span>
								</div>
							</div>
						</div>
						<h5>Información personal</h5>
						<hr />
						<div id="saveValidationSummary" class="text-danger mb-3" role="alert"></div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoPrimerNombre" asp-for="InputEmpleado.PrimerNombre" type="text" class="form-control" placeholder="@Localizer["FirstNamePlaceholder"]" />
									<label asp-for="InputEmpleado.PrimerNombre" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.PrimerNombre" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoSegundoNombre" asp-for="InputEmpleado.SegundoNombre" type="text" class="form-control" placeholder="@Localizer["SecondNamePlaceholder"]" />
									<label asp-for="InputEmpleado.SegundoNombre" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.SegundoNombre" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoApellidoPaterno" asp-for="InputEmpleado.ApellidoPaterno" type="text" class="form-control" placeholder="@Localizer["FathersLastNamePlaceholder"]" />
									<label asp-for="InputEmpleado.ApellidoPaterno" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.ApellidoPaterno" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoApellidoMaterno" asp-for="InputEmpleado.ApellidoMaterno" type="text" class="form-control" placeholder="@Localizer["MothersLastNamePlaceholder"]" />
									<label asp-for="InputEmpleado.ApellidoMaterno" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.ApellidoMaterno" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoFechaNacimiento" type="date" asp-for="InputEmpleado.FechaNacimiento" class="form-control" placeholder="@Localizer["FechaNacimientoPlaceholder"]" />
									<label asp-for="InputEmpleado.FechaNacimiento" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.FechaNacimiento" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoTelefono" asp-for="InputEmpleado.Telefono" type="text" class="form-control" placeholder="@Localizer["PhonePlaceholder"]" />
									<label asp-for="InputEmpleado.Telefono" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.Telefono" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoGeneroId" asp-for="InputEmpleado.GeneroId" class="form-control" placeholder="@Localizer["PuestoPlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (Genero genero in generos)
											{
												<option value='@genero.Id'>@genero.Nombre</option>
											}
										}
									</select>
									<label asp-for="InputEmpleado.GeneroId" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.GeneroId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoEstadoCivilId" asp-for="InputEmpleado.EstadoCivilId" class="form-control" placeholder="@Localizer["PuestoPlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (EstadoCivil estadoCivil in estadosCiviles)
											{
												<option value='@estadoCivil.Id'>@estadoCivil.Nombre</option>
											}
										}
									</select>
									<label asp-for="InputEmpleado.EstadoCivilId" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.EstadoCivilId" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-floating mb-3">
									<textarea id="txtEmpleadoDireccion" maxlength="135" asp-for="InputEmpleado.Direccion" class="form-control dynamic-height" placeholder="@Localizer["AddressPlaceholder"]"></textarea>
									<label asp-for="InputEmpleado.Direccion" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.Direccion" class="text-danger"></span>
								</div>
							</div>
						</div>
						<h5>Información laboral</h5>
						<hr />
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoPuestoId" asp-for="InputEmpleado.PuestoId" class="form-control" placeholder="@Localizer["PuestoPlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (Puesto puesto in puestos)
											{
												<option value='@puesto.Id'>@puesto.Nombre</option>
											}
										}
									</select>
									<label asp-for="InputEmpleado.PuestoId" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.PuestoId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoAreaId" asp-for="InputEmpleado.AreaId" class="form-control" placeholder="@Localizer["AreaPlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (Area area in areas)
											{
												<option value='@area.Id'>@area.Nombre</option>
											}
										}
									</select>
									<label asp-for="InputEmpleado.AreaId" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.AreaId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoSubareaId" asp-for="InputEmpleado.SubareaId" class="form-control" placeholder="@Localizer["SubareaPlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (Subarea subarea in subareas)
											{
												<option value='@subarea.Id'>@subarea.Nombre</option>
											}
										}
									</select>
									<label asp-for="InputEmpleado.SubareaId" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.SubareaId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoOficinaId" asp-for="InputEmpleado.OficinaId" class="form-control" placeholder="@Localizer["OficinaPlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (Oficina oficina in oficinas)
											{
												<option value='@oficina.Id'>@oficina.Nombre</option>
											}
										}
									</select>
									<label asp-for="InputEmpleado.OficinaId" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.OficinaId" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoJefeId" asp-for="InputEmpleado.JefeId" class="form-control" placeholder="@Localizer["JefePlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (Empleado jefe in jefes)
											{
												<option value='@jefe.Id'>@jefe.PrimerNombre</option>
											}
										}
									</select>
									<label asp-for="InputEmpleado.JefeId" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.JefeId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoFechaIngreso" type="date" asp-for="InputEmpleado.FechaIngreso" class="form-control" placeholder="@Localizer["FechaIngresoPlaceholder"]" />
									<label asp-for="InputEmpleado.FechaIngreso" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.FechaIngreso" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-6">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoEmail" asp-for="InputEmpleado.Email" type="text" class="form-control" placeholder="@Localizer["EmailPlaceholder"]" />
									<label asp-for="InputEmpleado.Email" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.Email" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-6">
								<div class="row">
									<h6 class="col-12"><i>Contacto de Emergencia 1</i></h6>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoNombreContacto1" asp-for="InputEmpleado.NombreContacto1" type="text" class="form-control" placeholder="@Localizer["NombrePlaceholder"]" />
											<label asp-for="InputEmpleado.NombreContacto1" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.NombreContacto1" class="text-danger"></span>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoTelefonoContacto1" asp-for="InputEmpleado.TelefonoContacto1" type="text" class="form-control" placeholder="@Localizer["PhonePlaceholder"]" />
											<label asp-for="InputEmpleado.TelefonoContacto1" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.TelefonoContacto1" class="text-danger"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-6">
								<div class="row">
									<h6 class="col-12"><i>Contacto de Emergencia 2</i></h6>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoNombreContacto2" asp-for="InputEmpleado.NombreContacto2" type="text" class="form-control" placeholder="@Localizer["NombrePlaceholder"]" />
											<label asp-for="InputEmpleado.NombreContacto2" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.NombreContacto2" class="text-danger"></span>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoTelefonoContacto2" asp-for="InputEmpleado.TelefonoContacto2" type="text" class="form-control" placeholder="@Localizer["PhonePlaceholder"]" />
											<label asp-for="InputEmpleado.TelefonoContacto2" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.TelefonoContacto2" class="text-danger"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<h5>Documentación</h5>
						<hr />
						<div class="alert alert-primary d-flex align-items-center mb-3" role="alert">
							<i class="bi bi-info-circle-fill me-2" style="font-size: x-large"></i>
							<div>
								@Localizer["DocumentSuggestion"]
							</div>
						</div>
						<table class="table table-bordered" align="center" style="width:auto;">
							<thead>
								<tr align="center">
									<th scope="col"></th>
									<th scope="col">Nombre documento</th>
									<th scope="col">Documento</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="dlgEmpleadoBtnCancelar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					<i class="bi bi-x-lg"></i> Cancelar
				</button>
				<button id="dlgEmpleadoBtnGuardar" type="button" class="btn btn-primary" onclick="onGuardarClick();">
					<i class="bi bi-floppy"></i> Guardar
				</button>
			</div>
		</div>
	</div>
</div>
<!-- --------------------------- -->
<!-- --------------------------- -->
@section Scripts {
	<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">

	<script src="~/lib/bootstrap-table/extensions/export/tableExport.min.js"></script>

	<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-es-MX.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-en-US.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>

	<script src="~/../Areas/Catalogos/Pages/GestionDeTalento.cshtml.js"></script>

	<script type="text/javascript">
		var cultureName = "@cultureName";
		var btnImportarText = '@Localizer["ImportButtonText"]';
		var btnImportarTitle = '@Localizer["ImportButtonTitle"]';
		var btnVerTitle = '@Localizer["SeeButtonTitle"]';
		var btnEditarTitle = '@Localizer["EditButtonTitle"]';
		var dlgEditarTitle = '@Localizer["EditDialogTitle"]';
		var dlgVerTitle = '@Localizer["SeeDialogTitle"]';
		var dlgNuevoTitle = '@Localizer["NewDialogTitle"]';
		var dlgDeleteTitle = '@Localizer["DeleteEmpleadoDialogTitle"]';
		var dlgDeleteQuestion = '@Localizer["DeleteEmpleadoDialogQuestion"]';
		var colNombreHeader = '@Localizer["ColNameHeader"]';
		var colFechaIngresoHeader = '@Localizer["ColFechaIngresoHeader"]';
		var colPuestoHeader = '@Localizer["ColPuestoHeader"]';
		var colAreaHeader = '@Localizer["ColAreaHeader"]';
		var colTelefonoHeader = '@Localizer["ColTelefonoHeader"]';
		var colCorreoHeader = '@Localizer["ColCorreoHeader"]';
		var colAccionesHeader = '@Localizer["ColActionsHeader"]';
	</script>

	<partial name="_ValidationScriptsPartial" />
}