@page "{handler?}"
@using ERPSEI.Data.Managers;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using ERPSEI.Areas.Catalogos.Pages;
@using ERPSEI.Data.Entities.Empleados;
@model GestionDeTalentoModel
@inject IViewLocalizer Localizer;
@inject IRWCatalogoManager<Puesto> PuestosManager;
@inject IRWCatalogoManager<Area> AreasManager;
@inject IRWCatalogoManager<Oficina> OficinasManager;
@inject IRWCatalogoManager<Subarea> SubareasManager;
@inject IEmpleadoManager EmpleadosManager;

@inject IRCatalogoManager<Genero> GenerosManager;
@inject IRCatalogoManager<EstadoCivil> EstadosCivilesManager;
@{
	ViewData["Title"] = Localizer["Title"];

	// Retrieves the requested culture
	IRequestCultureFeature? rqf = Request.HttpContext.Features.Get<IRequestCultureFeature>();

	// Culture contains the information of the requested culture
	System.Globalization.CultureInfo? culture = rqf != null ? rqf.RequestCulture.Culture : new System.Globalization.CultureInfo("es-MX");

	string cultureName = culture.Name;

	List<Puesto> puestos = await PuestosManager.GetAllAsync();
	List<Area> areas = await AreasManager.GetAllAsync();
	List<Genero> generos = await GenerosManager.GetAllAsync();
	List<EstadoCivil> estadosCiviles = await EstadosCivilesManager.GetAllAsync();
	List<Subarea> subareas = await SubareasManager.GetAllAsync();
	List<Oficina> oficinas = await OficinasManager.GetAllAsync();
	List<Empleado> jefes = await EmpleadosManager.GetAllAsync();
}
<h3 class="title mb-3">@ViewData["Title"]</h3>

<!-- --------------------------- -->
<!-- Sección de filtros -------- -->
	<div class="accordion shadow mb-5" id="accordionFiltros">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<h6>@Localizer["FilterTitle"]</h6>
				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFiltros">
				<div class="accordion-body">
					<form id="filtros" method="post">
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpFiltroFechaIngresoInicio" type="date" asp-for="InputFiltro.FechaIngresoInicio" class="form-control" placeholder="@Localizer["FechaIngresoPlaceholder"]" />
									<label for="inpFiltroFechaIngresoInicio" asp-for="InputFiltro.FechaIngresoInicio" class="form-label"></label>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpFiltroFechaIngresoFin" type="date" asp-for="InputFiltro.FechaIngresoFin" class="form-control" placeholder="@Localizer["FechaIngresoPlaceholder"]" />
									<label for="inpFiltroFechaIngresoFin" asp-for="InputFiltro.FechaIngresoFin" class="form-label"></label>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpFiltroFechaNacimientoInicio" type="date" asp-for="InputFiltro.FechaNacimientoInicio" class="form-control" placeholder="@Localizer["FechaNacimientoPlaceholder"]" />
									<label for="inpFiltroFechaNacimientoInicio" asp-for="InputFiltro.FechaNacimientoInicio" class="form-label"></label>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpFiltroFechaNacimientoFin" type="date" asp-for="InputFiltro.FechaNacimientoFin" class="form-control" placeholder="@Localizer["FechaNacimientoPlaceholder"]" />
									<label for="inpFiltroFechaNacimientoFin" asp-for="InputFiltro.FechaNacimientoFin" class="form-label"></label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selFiltroPuesto" asp-for="InputFiltro.PuestoId" class="form-select" placeholder="@Localizer["PuestoPlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (Puesto puesto in puestos)
											{
												<option value='@puesto.Id'>@puesto.Nombre</option>
											}
										}
									</select>
									<label for="selFiltroPuesto" asp-for="InputFiltro.PuestoId" class="form-label"></label>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selFiltroArea" asp-for="InputFiltro.AreaId" onchange="onAreaChanged(this);" class="form-select" placeholder="@Localizer["AreaPlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (Area area in areas)
											{
												<option value='@area.Id'>@area.Nombre</option>
											}
										}
									</select>
									<label for="selFiltroArea" asp-for="InputFiltro.AreaId" class="form-label"></label>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selFiltroSubarea" InputFiltro.SubareaId" class="form-select" placeholder="@Localizer["SubareaPlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (Subarea subarea in subareas)
											{
												<option areaid='@subarea.AreaId' value='@subarea.Id'>@subarea.Nombre</option>
											}
										}
									</select>
									<label for="selFiltroSubarea" asp-for="InputFiltro.SubareaId" class="form-label"></label>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selFiltroOficina" asp-for="InputFiltro.OficinaId" class="form-select" placeholder="@Localizer["OficinaPlaceholder"]">
										<option value="0">Seleccione...</option>
										@{
											foreach (Oficina oficina in oficinas)
											{
												<option value='@oficina.Id'>@oficina.Nombre</option>
											}
										}
									</select>
									<label for="selFiltroOficina" asp-for="InputFiltro.OficinaId" class="form-label"></label>
								</div>
							</div>
						</div>
					</form>
					<div class="row text-end">
						<div class="col-12">
							<button id="btnBuscar" class="btn btn-primary" onclick="onBuscarClick();">
								<i class="bi bi-search"></i> @Localizer["SearchButton"]
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección tabla de resultados -->
<div id="toolbar" class="col-xl-12">
	<button id="btnAgregar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dlgEmpleado" onclick="onAgregarClick();">
		<i class="bi bi-plus-lg"></i> <span class="d-none d-sm-inline">@Localizer["AddButton"]</span>
	</button>
	<button id="remove" class="btn btn-danger" disabled>
		<i class="bi bi-ban"></i> <span class="d-none d-sm-inline">@Localizer["DeactivateButton"]</span>
	</button>
</div>
<table id="table" class="table-sm"
		data-unique-id="id"
		data-toolbar="#toolbar"
		data-search="true"
		data-show-toggle="true"
		data-show-fullscreen="true"
		data-show-columns="true"
		data-show-columns-toggle-all="true"
		data-detail-view="true"
		data-show-export="true"
		data-click-to-select="true"
		data-detail-formatter="detailFormatter"
		data-minimum-count-columns="2"
		data-show-pagination-switch="true"
		data-pagination="true"
		data-id-field="id"
		data-page-list="[10, 25, 50, 100, all]"
		data-show-footer="false"
		data-side-pagination="client"
		data-response-handler="responseHandler"
		data-buttons-class="primary"
		data-buttons="additionalButtons">
	<thead>
		<tr align="center" valign="middle" class="bg-primary bg-opacity-10">
		</tr>
	</thead>
</table>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección Nuevo/Editar/Ver Registro --- -->
<div id="dlgEmpleado" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="dlgEmpleadoTitle" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body align-items-center">
				<form id="theForm" method="post">
					<div class="container-fluid">
						<div class="row">
							<div class="col-3 col-lg-2">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoId" asp-for="InputEmpleado.Id" type="text" class="form-control" />
									<label for="inpEmpleadoId" asp-for="InputEmpleado.Id" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.Id" class="text-danger"></span>
								</div>
							</div>
						</div>
						<h5>@Localizer["EmpleadoPrimerSeccionTitle"]</h5>
						<hr />
						<div id="saveValidationSummary" class="text-danger mb-3" role="alert"></div>
						<div class="row">
							<div class="col-lg-6">
								<center>
									<div>
										<img id="profilePicContainer" class="profile-pic mb-3" />
									</div>
									<div style="width:auto;" class="mb-3">
										<input asp-for="InputEmpleado.ProfilePicture" type="file" id="profilePicSelector" tipoArchivoId="1" onchange="onProfilePicSelectorChanged(this);" accept="image/png, image/jpeg" hidden />
										<a id="editProfilePicLink" class="btn btn-primary formButton" onclick="onEditDocumentClick(this);" inputName="profilePicSelector">
											<i class="bi bi-pencil-fill"></i> @Localizer["EditLink"]
										</a>
									</div>
								</center>
								<div class="alert alert-primary d-flex align-items-center" role="alert">
									<i class="bi bi-info-circle-fill me-2" style="font-size: x-large"></i>
									<div>
										@Localizer["ProfilePicSuggestion"]
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-6">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoPrimerNombre" asp-for="InputEmpleado.Nombre" type="text" class="form-control formInput" placeholder="@Localizer["NombrePlaceholder"]" />
											<label for="inpEmpleadoPrimerNombre" asp-for="InputEmpleado.Nombre" class="form-label required"></label>
											<span asp-validation-for="InputEmpleado.Nombre" class="text-danger"></span>
										</div>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoNombrePreferido" asp-for="InputEmpleado.NombrePreferido" type="text" class="form-control formInput" placeholder="@Localizer["NombrePreferidoPlaceholder"]" />
											<label for="inpEmpleadoNombrePreferido" asp-for="InputEmpleado.NombrePreferido" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.NombrePreferido" class="text-danger"></span>
										</div>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoApellidoPaterno" asp-for="InputEmpleado.ApellidoPaterno" type="text" class="form-control formInput" placeholder="@Localizer["ApellidoPaternoPlaceholder"]" />
											<label for="inpEmpleadoApellidoPaterno" asp-for="InputEmpleado.ApellidoPaterno" class="form-label required"></label>
											<span asp-validation-for="InputEmpleado.ApellidoPaterno" class="text-danger"></span>
										</div>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoApellidoMaterno" asp-for="InputEmpleado.ApellidoMaterno" type="text" class="form-control formInput" placeholder="@Localizer["ApellidoMaternoPlaceholder"]" />
											<label for="inpEmpleadoApellidoMaterno" asp-for="InputEmpleado.ApellidoMaterno" class="form-label required"></label>
											<span asp-validation-for="InputEmpleado.ApellidoMaterno" class="text-danger"></span>
										</div>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoFechaNacimiento" type="date" asp-for="InputEmpleado.FechaNacimiento" class="form-control formInput" placeholder="@Localizer["FechaNacimientoPlaceholder"]" />
											<label for="inpEmpleadoFechaNacimiento" asp-for="InputEmpleado.FechaNacimiento" class="form-label required"></label>
											<span asp-validation-for="InputEmpleado.FechaNacimiento" class="text-danger"></span>
										</div>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoTelefono" asp-for="InputEmpleado.Telefono" type="text" class="form-control formInput" placeholder="@Localizer["TelefonoPlaceholder"]" />
											<label for="inpEmpleadoTelefono" asp-for="InputEmpleado.Telefono" class="form-label required"></label>
											<span asp-validation-for="InputEmpleado.Telefono" class="text-danger"></span>
										</div>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="form-floating mb-3">
											<select id="selEmpleadoGeneroId" asp-for="InputEmpleado.GeneroId" class="form-select formSelect" placeholder="@Localizer["GeneroPlaceholder"]">

												@{
													foreach (Genero genero in generos)
													{
														<option value='@genero.Id'>@genero.Nombre</option>
													}
												}
											</select>
											<label for="selEmpleadoGeneroId" asp-for="InputEmpleado.GeneroId" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.GeneroId" class="text-danger"></span>
										</div>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="form-floating mb-3">
											<select id="selEmpleadoEstadoCivilId" asp-for="InputEmpleado.EstadoCivilId" class="form-select formSelect" placeholder="@Localizer["EstadoCivilPlaceholder"]">

												@{
													foreach (EstadoCivil estadoCivil in estadosCiviles)
													{
														<option value='@estadoCivil.Id'>@estadoCivil.Nombre</option>
													}
												}
											</select>
											<label for="selEmpleadoEstadoCivilId" asp-for="InputEmpleado.EstadoCivilId" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.EstadoCivilId" class="text-danger"></span>
										</div>
									</div>
									<div class="col-12">
										<div class="form-floating mb-3">
											<textarea id="txtEmpleadoDireccion" maxlength="135" asp-for="InputEmpleado.Direccion" class="form-control dynamic-height formInput" placeholder="@Localizer["DireccionPlaceholder"]"></textarea>
											<label for="txtEmpleadoDireccion" asp-for="InputEmpleado.Direccion" class="form-label required"></label>
											<span asp-validation-for="InputEmpleado.Direccion" class="text-danger"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<h5>@Localizer["EmpleadoSegundaSeccionTitle"]</h5>
						<hr />
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoPuestoId" asp-for="InputEmpleado.PuestoId" class="form-select formSelect" placeholder="@Localizer["PuestoPlaceholder"]">
										@{
											foreach (Puesto puesto in puestos)
											{
												<option value='@puesto.Id'>@puesto.Nombre</option>
											}
										}
									</select>
									<label for="selEmpleadoPuestoId" asp-for="InputEmpleado.PuestoId" class="form-label required"></label>
									<span asp-validation-for="InputEmpleado.PuestoId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoAreaId" asp-for="InputEmpleado.AreaId" onchange="onAreaChanged(this);" class="form-select formSelect" placeholder="@Localizer["AreaPlaceholder"]">
										@{
											foreach (Area area in areas)
											{
												<option value='@area.Id'>@area.Nombre</option>
											}
										}
									</select>
									<label for="selEmpleadoAreaId" asp-for="InputEmpleado.AreaId" class="form-label required"></label>
									<span asp-validation-for="InputEmpleado.AreaId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoSubareaId" asp-for="InputEmpleado.SubareaId" class="form-select formSelect" placeholder="@Localizer["SubareaPlaceholder"]">
										
										@{
											foreach (Subarea subarea in subareas)
											{
												<option areaid='@subarea.AreaId' value='@subarea.Id'>@subarea.Nombre</option>
											}
										}
									</select>
									<label for="selEmpleadoSubareaId" asp-for="InputEmpleado.SubareaId" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.SubareaId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoOficinaId" asp-for="InputEmpleado.OficinaId" class="form-select formSelect" placeholder="@Localizer["OficinaPlaceholder"]">
										
										@{
											foreach (Oficina oficina in oficinas)
											{
												<option value='@oficina.Id'>@oficina.Nombre</option>
											}
										}
									</select>
									<label for="selEmpleadoOficinaId" asp-for="InputEmpleado.OficinaId" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.OficinaId" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<select id="selEmpleadoJefeId" asp-for="InputEmpleado.JefeId" class="form-select formSelect" placeholder="@Localizer["JefePlaceholder"]">
										
										@{
											foreach (Empleado jefe in jefes)
											{
												<option value='@jefe.Id'>@jefe.NombreCompleto</option>
											}
										}
									</select>
									<label for="selEmpleadoJefeId" asp-for="InputEmpleado.JefeId" class="form-label"></label>
									<span asp-validation-for="InputEmpleado.JefeId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoFechaIngreso" type="date" asp-for="InputEmpleado.FechaIngreso" class="form-control formInput" placeholder="@Localizer["FechaIngresoPlaceholder"]" />
									<label for="inpEmpleadoFechaIngreso" asp-for="InputEmpleado.FechaIngreso" class="form-label required"></label>
									<span asp-validation-for="InputEmpleado.FechaIngreso" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-6">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoEmail" asp-for="InputEmpleado.Email" type="text" class="form-control formInput" placeholder="@Localizer["EmailPlaceholder"]" />
									<label for="inpEmpleadoEmail" asp-for="InputEmpleado.Email" class="form-label required"></label>
									<span asp-validation-for="InputEmpleado.Email" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoCURP" asp-for="InputEmpleado.CURP" type="text" class="form-control formInput" placeholder="@Localizer["CURPPlaceholder"]" />
									<label for="inpEmpleadoCURP" asp-for="InputEmpleado.CURP" class="form-label required"></label>
									<span asp-validation-for="InputEmpleado.CURP" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoRFC" asp-for="InputEmpleado.RFC" type="text" class="form-control formInput" placeholder="@Localizer["RFCPlaceholder"]" />
									<label for="inpEmpleadoRFC" asp-for="InputEmpleado.RFC" class="form-label required"></label>
									<span asp-validation-for="InputEmpleado.RFC" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-3">
								<div class="form-floating mb-3">
									<input id="inpEmpleadoNSS" asp-for="InputEmpleado.NSS" type="text" class="form-control formInput" placeholder="@Localizer["NSSPlaceholder"]" />
									<label for="inpEmpleadoNSS" asp-for="InputEmpleado.NSS" class="form-label required"></label>
									<span asp-validation-for="InputEmpleado.NSS" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-6">
								<div class="row">
									<h6 class="col-12"><i>@Localizer["EmpleadoContactoTitle"] 1</i></h6>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoNombreContacto1" asp-for="InputEmpleado.NombreContacto1" type="text" class="form-control formInput" placeholder="@Localizer["NombrePlaceholder"]" />
											<label for="inpEmpleadoNombreContacto1" asp-for="InputEmpleado.NombreContacto1" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.NombreContacto1" class="text-danger"></span>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoTelefonoContacto1" asp-for="InputEmpleado.TelefonoContacto1" type="text" class="form-control formInput" placeholder="@Localizer["TelefonoPlaceholder"]" />
											<label for="inpEmpleadoTelefonoContacto1" asp-for="InputEmpleado.TelefonoContacto1" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.TelefonoContacto1" class="text-danger"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-6">
								<div class="row">
									<h6 class="col-12"><i>@Localizer["EmpleadoContactoTitle"] 2</i></h6>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoNombreContacto2" asp-for="InputEmpleado.NombreContacto2" type="text" class="form-control formInput" placeholder="@Localizer["NombrePlaceholder"]" />
											<label for="inpEmpleadoNombreContacto2" asp-for="InputEmpleado.NombreContacto2" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.NombreContacto2" class="text-danger"></span>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-floating mb-3">
											<input id="inpEmpleadoTelefonoContacto2" asp-for="InputEmpleado.TelefonoContacto2" type="text" class="form-control formInput" placeholder="@Localizer["TelefonoPlaceholder"]" />
											<label for="inpEmpleadoTelefonoContacto2" asp-for="InputEmpleado.TelefonoContacto2" class="form-label"></label>
											<span asp-validation-for="InputEmpleado.TelefonoContacto2" class="text-danger"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<h5>@Localizer["EmpleadoTercerSeccionTitle"]</h5>
						<hr />
						<div class="alert alert-primary d-flex align-items-center mb-3" role="alert">
							<i class="bi bi-info-circle-fill me-2" style="font-size: x-large"></i>
							<div>
								@Localizer["DocumentSuggestion"] <a target="_blank" href="https://compressjpeg.com/es/">https://compressjpeg.com/es/</a>
							</div>
						</div>
						<div id="bodyArchivos" class="row"></div>
					</div>
				</form>
			</div>
			<div class="modal-footer" style="display: inline !important;">
				<div class="container row">
					<div class="col-5">
						<button id="dlgEmpleadoBtnDesactivar" type="button" class="btn btn-danger formButton" onclick="onDeleteEmpleadoClick();" data-bs-dismiss="modal">
							<i class="bi bi-ban"></i> @Localizer["DeactivateButton"]
						</button>
					</div>
					<div class="col-7 text-end">
						<button id="dlgEmpleadoBtnCancelar" type="button" class="btn btn-secondary" onclick="onCerrarClick();" data-bs-dismiss="modal">
							<i class="bi bi-x-lg"></i> @Localizer["CancelButtonTitle"]
						</button>
						<button id="dlgEmpleadoBtnGuardar" type="button" class="btn btn-primary formButton" onclick="onGuardarClick();">
							<i class="bi bi-floppy"></i> @Localizer["SaveButtonTitle"]
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección Importar Excel ---- -->
<div id="dlgImportarExcel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="dlgExcelTitle" class="modal-title">@Localizer["ImportExcelDialogTitle"]</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body align-items-center">
				<div class="alert d-flex align-items-center" role="alert">
					<i class="bi bi-1-circle-fill me-2" style="font-size: x-large"></i>
					<div>@Localizer["ImportExcelSuggestionA"]</div>
				</div>
                <div class="container">
                    <div class="row">
						<div class="col-12 text-center mb-3">
							<a id="dlgExcelBtnPlantilla" href="@Url.Page("GestionDeTalento", "DownloadPlantilla")" class="btn btn-primary">
								<i class="bi bi-file-earmark-ruled"></i> @Localizer["PlantillaButtonTitle"]
							</a>
						</div>
                    </div>
                </div>
				<div class="alert d-flex align-items-center" role="alert">
					<i class="bi bi-2-circle-fill me-2" style="font-size: x-large"></i>
                    <div>@Localizer["ImportExcelSuggestionB"]</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<form id="importForm" method="post">
								<input asp-for="InputImportar.Plantilla" id="excelFile" onchange="onExcelSelectorChanged(this);" class="form-control" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
								<span asp-validation-for="InputImportar.Plantilla" class="text-danger"></span>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="dlgExcelBtnCancelar" type="button" class="btn btn-secondary" onclick="onCerrarImportarClick();" data-bs-dismiss="modal">
					<i class="bi bi-x-lg"></i> @Localizer["CancelButtonTitle"]
				</button>
				<button id="dlgExcelBtnImportar" type="button" class="btn btn-primary" onclick="onImportarClick();">
					<i class="bi bi-upload"></i> @Localizer["ImportButtonText"]
				</button>
			</div>
		</div>
	</div>
</div>
<!-- --------------------------- -->
<!-- --------------------------- -->

@section Scripts {
	<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">

	<script src="~/lib/bootstrap-table/extensions/export/tableExport.min.js"></script>

	<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-es-MX.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-en-US.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>

	<link rel="stylesheet" href="~/css/GestionDeTalento.css" />
	<script src="~/../Areas/Catalogos/Pages/GestionDeTalento.cshtml.js"></script>

	<script type="text/javascript">
		var cultureName = "@cultureName";
		var btnImportarText = '@Localizer["ImportButtonText"]';
		var btnImportarTitle = '@Localizer["ImportButtonTitle"]';
		var btnInvitarTitle = '@Localizer["InviteButtonTitle"]';
		var btnVerTitle = '@Localizer["SeeButtonTitle"]';
		var btnEditarTitle = '@Localizer["EditButtonTitle"]';
		var btnEliminarTitle = '@Localizer["DeleteButton"]';
		var dlgEditarTitle = '@Localizer["EditDialogTitle"]';
		var dlgVerTitle = '@Localizer["SeeDialogTitle"]';
		var dlgNuevoTitle = '@Localizer["NewDialogTitle"]';
		var dlgDeleteTitle = '@Localizer["DeleteEmpleadoDialogTitle"]';
		var dlgDeleteQuestion = '@Localizer["DeleteEmpleadoDialogQuestion"]';
		var colNombreHeader = '@Localizer["ColNameHeader"]';
		var colFechaIngresoHeader = '@Localizer["ColFechaIngresoHeader"]';
		var colPuestoHeader = '@Localizer["ColPuestoHeader"]';
		var colAreaHeader = '@Localizer["ColAreaHeader"]';
		var colTelefonoHeader = '@Localizer["ColTelefonoHeader"]';
		var colCorreoHeader = '@Localizer["ColCorreoHeader"]';
		var colAccionesHeader = '@Localizer["ColActionsHeader"]';
		var colFechaNacimientoHeader = '@Localizer["ColFechaNacimientoHeader"]';
		var colGeneroHeader = '@Localizer["ColGeneroHeader"]';
		var colEstadoCivilHeader = '@Localizer["ColEstadoCivilHeader"]';
		var colDireccionHeader = '@Localizer["ColDireccionHeader"]';
		var colOficinaHeader = '@Localizer["ColOficinaHeader"]';
		var emptySelectItemText = '@Localizer["EmptySelectItemText"]';
		var nuevoRegistro = '@Localizer["NuevoRegistro"]';
		var arrTiposDocumentos = {
			"1": '@Localizer["FotoPerfil"]',
			"2": '@Localizer["ActaNacimiento"]',
			"3": '@Localizer["CURP"]',
			"4": '@Localizer["CLABE"]',
			"5": '@Localizer["ComprobanteDomicilio"]',
			"6": '@Localizer["CSF"]',
			"7": '@Localizer["INE"]',
			"8": '@Localizer["RFC"]',
			"9": '@Localizer["ComprobanteEstudios"]',
			"10": '@Localizer["NSS"]',
			"11": '@Localizer["Otros"]'
		};
		var invalidFormatTitle = '@Localizer["InvalidFormatTitle"]';
		var invalidFormatMsg = '@Localizer["InvalidFormatMsg"]';
		var fileFormatTitle = '@Localizer["FileFormatTitle"]';
		var fileFormatMessage = '@Localizer["FileFormatMessage"]';
		var maxFileSizeTitle = '@Localizer["MaxFileSizeTitle"]';
		var maxFileSizeMessage = '@Localizer["MaxFileSizeMessage"]';
	</script>

	<partial name="_ValidationScriptsPartial" />
}