@page "{handler?}"
@using ERPSEI.Data.Managers;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using ERPSEI.Areas.Catalogos.Pages;
@using ERPSEI.Data.Entities.Empleados;
@using ERPSEI.Data.Managers.Empleados;
@model UsuariosModel
@inject IViewLocalizer Localizer;
@inject RoleManager RolesManager;
@{
	ViewData["Title"] = Localizer["Title"];

	// Retrieves the requested culture
	IRequestCultureFeature? rqf = Request.HttpContext.Features.Get<IRequestCultureFeature>();

	// Culture contains the information of the requested culture
	System.Globalization.CultureInfo? culture = rqf != null ? rqf.RequestCulture.Culture : new System.Globalization.CultureInfo("es-MX");

	string cultureName = culture.Name;

	List<IdentityRole> roles = await RolesManager.GetAllAsync();
}
<h3 class="title mb-3">@ViewData["Title"]</h3>

<!-- --------------------------- -->
<!-- Sección tabla de resultados -->
<table id="table" class="table-sm"
		data-unique-id="id"
		data-search="true"
		data-show-toggle="true"
		data-show-fullscreen="true"
		data-show-columns="true"
		data-show-columns-toggle-all="true"
		data-detail-view="false"
		data-show-export="false"
		data-click-to-select="true"
		data-minimum-count-columns="2"
		data-show-pagination-switch="true"
		data-pagination="true"
		data-id-field="id"
		data-page-list="[10, 25, 50, 100, all]"
		data-show-footer="false"
		data-side-pagination="client"
		data-response-handler="responseHandler"
		data-buttons-class="primary">
	<thead>
		<tr align="center" valign="middle" class="bg-primary bg-opacity-10">
		</tr>
	</thead>
</table>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección Editar/Ver Registro --- -->
<div id="dlgDetalle" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="dlgDetalleTitle" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body align-items-center">
				<form id="theForm" method="post">
					<div class="container-fluid">
						<div id="saveValidationSummary" class="text-danger mb-3" role="alert"></div>
						<div class="row">
							<div class="col-12">
								<div class="form-floating mb-3">
									<input hidden id="inpUsuarioId" type="text" class="form-control" />
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating mb-3">
									<input disabled id="inpUsuarioNombre" asp-for="InputUsuario.NombreUsuario" type="text" class="form-control" placeholder="@Localizer["NombreUsuarioPlaceholder"]" />
									<label for="inpUsuarioNombre" asp-for="InputUsuario.NombreUsuario" class="form-label"></label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating mb-3">
									<input disabled id="inpEmpleadoNombre" asp-for="InputUsuario.NombreEmpleado" type="text" class="form-control" placeholder="@Localizer["NombreEmpleadoPlaceholder"]" />
									<label for="inpEmpleadoNombre" asp-for="InputUsuario.NombreEmpleado" class="form-label"></label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating mb-3">
									<select id="selEmpleadoRol" asp-for="InputUsuario.RolId" class="form-select formSelect" placeholder="@Localizer["RolPlaceholder"]">

									@{
										foreach (IdentityRole rol in roles)
										{
											if (rol.Name == ERPSEI.ServicesConfiguration.RolMaster || rol.Name == ERPSEI.ServicesConfiguration.RolCandidato) { continue; }

												<option value='@rol.Id'>@rol.Name</option>
										}
									}
									</select>
									<label for="selEmpleadoRol" asp-for="InputUsuario.RolId" class="form-label"></label>
									<span asp-validation-for="InputUsuario.RolId" class="text-danger"></span>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" style="display: inline !important;">
				<div class="row">
					<div class="col-12 text-end">
						<button id="dlgDetallesBtnCancelar" type="button" class="btn btn-secondary" onclick="onCerrarClick();" data-bs-dismiss="modal">
							<i class="bi bi-x-lg"></i> @Localizer["CancelButtonTitle"]
						</button>
						<button id="dlgDetallesBtnGuardar" type="button" class="btn btn-primary formButton" onclick="onGuardarClick();">
							<i class="bi bi-floppy"></i> @Localizer["SaveButtonTitle"]
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- --------------------------- -->
<!-- --------------------------- -->

@section Scripts {
	<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">

	<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-es-MX.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-en-US.min.js"></script>

	<link rel="stylesheet" href="~/css/Usuarios.css" />
	<script src="~/../Areas/Catalogos/Pages/Usuarios.cshtml.js"></script>

	<script type="text/javascript">
		var cultureName = "@cultureName";
		var btnBuscarTitle = '@Localizer["SearchButton"]';
		var btnVerTitle = '@Localizer["SeeButtonTitle"]';
		var btnEditarTitle = '@Localizer["EditButtonTitle"]';
		var dlgEditarTitle = '@Localizer["EditDialogTitle"]';
		var dlgVerTitle = '@Localizer["SeeDialogTitle"]';
		var colNombreUsuarioHeader = '@Localizer["ColNameUsuarioHeader"]';
		var colNombreEmpleadoHeader = '@Localizer["ColNameEmpleadoHeader"]';
		var colNombreRolHeader = '@Localizer["ColNameRolHeader"]';
		var colAccionesHeader = '@Localizer["ColActionsHeader"]';
		var emptySelectItemText = '@Localizer["Seleccione"]';
	</script>

	<partial name="_ValidationScriptsPartial" />
}