@using ERPSEI.Data.Entities.Usuarios
@using Microsoft.AspNetCore.Mvc.Localization
@using ERPSEI.Data.Managers.Usuarios;
@inject IViewLocalizer Localizer
@inject SignInManager<AppUser> SignInManager
@inject IAccesoModuloManager AccesosModulosManager;
@inject AppRoleManager RolesManager;
@inject AppUserManager UsuariosManager;
@{
    AppUser? usr = await UsuariosManager.FindByNameAsync(User.Identity?.Name ?? string.Empty);
    IList<string> rolesUsuario = usr != null ? await UsuariosManager.GetRolesAsync(usr) : new List<string>();
    List<AccesoModulo> accesos = new List<AccesoModulo>();

    foreach (string rol in rolesUsuario)
    {
        AppRole? foundRole = await RolesManager.GetByNameAsync(rol);
        accesos.AddRange(await AccesosModulosManager.GetByRolIdAsync(foundRole?.Id??string.Empty));
    }

    bool accedeCatalogos = false, 
    accedeERP = false, 
    accedeReportes = false, 
    tieneCatalogosRH = false, 
    tieneERPRH = false, 
    tieneReportesRH = false, 
    tieneCatalogosEmpresas = false, 
    tieneERPEmpresas = false, 
    tieneReportesEmpresas = false;

    if(accesos.Count >= 0)
    {
        tieneCatalogosRH = accesos.FindAll(m => 
            (m.Modulo?.NombreNormalizado == "gestiondetalento" ||
            m.Modulo?.NombreNormalizado == "usuarios" ||
            m.Modulo?.NombreNormalizado == "puestos" ||
            m.Modulo?.NombreNormalizado == "areas" ||
            m.Modulo?.NombreNormalizado == "subareas" ||
            m.Modulo?.NombreNormalizado == "oficinas" ||
            m.Modulo?.NombreNormalizado == "roles") &&
            (m.PuedeTodo == 1 || 
            m.PuedeConsultar == 1 || 
            m.PuedeEditar == 1 || 
            m.PuedeEliminar == 1 || 
            m.PuedeAutorizar == 1)
        ).Count >= 1;
        tieneERPRH = accesos.FindAll(m =>
            (m.Modulo?.NombreNormalizado == "vacaciones" ||
            m.Modulo?.NombreNormalizado == "incapacidades" ||
            m.Modulo?.NombreNormalizado == "permisos") &&
            (m.PuedeTodo == 1 ||
            m.PuedeConsultar == 1 ||
            m.PuedeEditar == 1 ||
            m.PuedeEliminar == 1 ||
            m.PuedeAutorizar == 1)
        ).Count >= 1;
        tieneReportesRH = accesos.FindAll(m =>
            (m.Modulo?.NombreNormalizado == "organigrama" ||
            m.Modulo?.NombreNormalizado == "asistencia") &&
            (m.PuedeTodo == 1 ||
            m.PuedeConsultar == 1 ||
            m.PuedeEditar == 1 ||
            m.PuedeEliminar == 1 ||
            m.PuedeAutorizar == 1)
        ).Count >= 1;

        tieneCatalogosEmpresas = accesos.FindAll(m =>
            (m.Modulo?.NombreNormalizado == "empresas" ||
            m.Modulo?.NombreNormalizado == "origenes" ||
            m.Modulo?.NombreNormalizado == "niveles" ||
            m.Modulo?.NombreNormalizado == "perfiles") &&
            (m.PuedeTodo == 1 ||
            m.PuedeConsultar == 1 ||
            m.PuedeEditar == 1 ||
            m.PuedeEliminar == 1 ||
            m.PuedeAutorizar == 1)
        ).Count >= 1;
        tieneERPEmpresas = accesos.FindAll(m =>
            (m.Modulo?.NombreNormalizado == "prefacturas") &&
            (m.PuedeTodo == 1 ||
            m.PuedeConsultar == 1 ||
            m.PuedeEditar == 1 ||
            m.PuedeEliminar == 1 ||
            m.PuedeAutorizar == 1)
        ).Count >= 1;
        tieneReportesEmpresas = false;

        accedeCatalogos = tieneCatalogosRH || tieneCatalogosEmpresas;
        accedeERP = tieneERPRH || tieneERPEmpresas;
        accedeReportes = tieneReportesRH || tieneReportesEmpresas;
    }

    string classDropdownCatalogos = string.Empty, classDivCatalogos = string.Empty;
    string classDropdownERP = string.Empty, classDivERP = string.Empty;
    string classDropdownReportes = string.Empty, classDivReportes = string.Empty;

    if (tieneCatalogosRH && tieneCatalogosEmpresas)
    {
        classDropdownCatalogos = "dropdown-dynamic-width-two-columns";
        classDivCatalogos = "col-sm-12 col-md-12 col-lg-6 mb-3 mb-lg-0";
    }
    else if(tieneCatalogosRH || tieneCatalogosEmpresas)
    {
        classDropdownCatalogos = "dropdown-dynamic-width-one-column";
        classDivCatalogos = "col-12 mb-3 mb-lg-0";
    }

    if (tieneERPRH && tieneERPEmpresas)
    {
        classDropdownERP = "dropdown-dynamic-width-two-columns";
        classDivERP = "col-sm-12 col-md-12 col-lg-6 mb-3 mb-lg-0";
    }
    else if (tieneERPRH || tieneERPEmpresas)
    {
        classDropdownERP = "dropdown-dynamic-width-one-column";
        classDivERP = "col-12 mb-3 mb-lg-0";
    }

    if (tieneReportesRH && tieneReportesEmpresas)
    {
        classDropdownReportes = "dropdown-dynamic-width-two-columns";
        classDivReportes = "col-sm-12 col-md-12 col-lg-6 mb-3 mb-lg-0";
    }
    else if (tieneReportesRH || tieneReportesEmpresas)
    {
        classDropdownReportes = "dropdown-dynamic-width-one-column";
        classDivReportes = "col-12 mb-3 mb-lg-0";
    }

    Dictionary<string, bool> permisos = new Dictionary<string, bool>();

    foreach (AccesoModulo a in accesos)
    {
        permisos.Add(a.Modulo?.NombreNormalizado ?? string.Empty, a.PuedeTodo == 1 || a.PuedeConsultar == 1 || a.PuedeEditar == 1 || a.PuedeEliminar == 1 || a.PuedeAutorizar == 1);
    }

}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERPSEI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ERPSEI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        @* <nav class="navbar navbar-expand-lg navbar-light bg-light"> *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Brand logo -->
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img class="brandimage" src="@Context.Request.Scheme://@Context.Request.Host/img/brand_dark.png" />
                </a>
                <!-- Toggle button -->
                <button class="navbar-toggler px-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExample3" aria-controls="navbarExample3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarExample3">
                    <!-- Left links -->
                    <ul class="navbar-nav flex-grow-1">
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            //Si el usuario no está logueado, muestra menú básico
                            <li class="nav-item">
                                <a class="nav-link @_LayoutPages.InicioNavClass(ViewContext)" asp-area="" asp-page="/Index">
                                    <i class="bi bi-house-door-fill"></i> @Localizer["HomeMenu"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @_LayoutPages.AvisoPrivacidadNavClass(ViewContext)" asp-area="" asp-page="/Privacy">
                                    <i class="bi bi-shield-fill-check"></i> @Localizer["PrivacyMenu"]
                                </a>
                            </li>
                        }
                        else
                        {
                            @if (accedeCatalogos)
                            {
                                //Si puede acceder a al menos un catálogo, muestra el menú correspondiente
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle @_LayoutPages.CatalogosNavClass(ViewContext)" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-list-task"></i> @Localizer["CatalogsMenu"]
                                    </a>
                                    <!-- Dropdown menu -->
                                    <div class="dropdown-menu shadow-lg mt-0 @classDropdownCatalogos" aria-labelledby="navbarDropdownMenuLink">
                                        <div class="container">
                                            <div class="row my-2">
                                                @if (tieneCatalogosRH)
                                                {
                                                    <div class="@classDivCatalogos">
                                                        <div class="list-group list-group-flush">
                                                            <p class="mb-0 list-group-item text-uppercase text-center">
                                                                <b>@Localizer["HumanResourcesMenu"]</b>
                                                            </p>
                                                            @if (permisos.ContainsKey("gestiondetalento") ? permisos["gestiondetalento"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.GestionDeTalentoNavClass(ViewContext)" asp-area="Catalogos" asp-page="/GestionDeTalento">
                                                                    <i class="bi bi-people-fill"></i> @Localizer["PersonalCatalogMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("usuarios") ? permisos["usuarios"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.CatalogoUsuariosNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Usuarios">
                                                                    <i class="bi bi-person-fill-gear"></i> @Localizer["UsersCatalogMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("roles") ? permisos["roles"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.CatalogoRolesNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Roles">
                                                                    <i class="bi bi-ui-checks"></i> @Localizer["RolesCatalogMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("puestos") ? permisos["puestos"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.CatalogoPuestosNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Puestos">
                                                                    <i class="bi bi-briefcase-fill"></i> @Localizer["PositionsCatalogMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("areas") ? permisos["areas"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.CatalogoAreasNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Areas">
                                                                    <i class="bi bi-boxes"></i> @Localizer["AreasCatalogMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("subareas") ? permisos["subareas"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.CatalogoSubareasNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Subareas">
                                                                    <i class="bi bi-box"></i> @Localizer["SubareasCatalogMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("oficinas") ? permisos["oficinas"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.CatalogoOficinasNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Oficinas">
                                                                    <i class="bi bi-building-fill"></i> @Localizer["OfficesCatalogMenu"]
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                @if (tieneCatalogosEmpresas)
                                                {
                                                    <div class="@classDivCatalogos">
                                                        <div class="list-group list-group-flush">
                                                            <p class="mb-0 list-group-item text-uppercase text-center">
                                                                <b>@Localizer["FacturacionMenu"]</b>
                                                            </p>
                                                            @if (permisos.ContainsKey("empresas") ? permisos["empresas"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.CatalogoEmpresasNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Empresas">
                                                                    <i class="bi bi-buildings"></i> @Localizer["EmpresasCatalogMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("origenes") ? permisos["origenes"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.CatalogoOrigenesNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Origenes">
                                                                    <i class="bi bi-flag-fill"></i> @Localizer["OriginsCatalogMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("niveles") ? permisos["niveles"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.CatalogoNivelesNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Niveles">
                                                                    <i class="bi bi-bookmark-check-fill"></i> @Localizer["LevelsCatalogMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("perfiles") ? permisos["perfiles"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.CatalogoPerfilesNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Perfiles">
                                                                    <i class="bi bi-circle-square"></i> @Localizer["ProfilesCatalogMenu"]
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            if (accedeERP)
                            {
                                //Si puede acceder a al menos un módulo de ERP, muestra el menú correspondiente
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle @_LayoutPages.ERPNavClass(ViewContext)" href="#" id="navbarDropdownMenuLinkERP" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-columns-gap"></i> @Localizer["ERPMenu"]
                                    </a>
                                    <!-- Dropdown menu -->
                                    <div class="dropdown-menu shadow-lg mt-0 @classDropdownERP" aria-labelledby="navbarDropdownMenuLinkERP">
                                        <div class="container">
                                            <div class="row my-2">
                                                @if(tieneERPRH){
                                                    <div class="@classDivERP">
                                                        <div class="list-group list-group-flush">
                                                            <p class="mb-0 list-group-item text-uppercase text-center">
                                                                <b>@Localizer["HumanResourcesMenu"]</b>
                                                            </p>
                                                            @if (permisos.ContainsKey("vacaciones") ? permisos["vacaciones"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.VacacionesNavClass(ViewContext)" asp-area="" asp-page="/Building">
                                                                    <i class="bi bi-airplane-engines-fill"></i> @Localizer["VacationMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("incapacidades") ? permisos["incapacidades"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.IncapacidadesNavClass(ViewContext)" asp-area="" asp-page="/Building">
                                                                    <i class="bi bi-heart-pulse-fill"></i> @Localizer["DisabilitiesMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("permisos") ? permisos["permisos"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.PermisosNavClass(ViewContext)" asp-area="" asp-page="/Building">
                                                                    <i class="bi bi-calendar-check-fill"></i> @Localizer["PermissionsMenu"]
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                @if (tieneERPEmpresas)
                                                {
                                                    <div class="@classDivERP">
                                                        <div class="list-group list-group-flush">
                                                            <p class="mb-0 list-group-item text-uppercase text-center">
                                                                <b>@Localizer["FacturacionMenu"]</b>
                                                            </p>
                                                            @if (permisos.ContainsKey("prefacturas") ? permisos["prefacturas"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.PrefacturasNavClass(ViewContext)" asp-area="ERP" asp-page="/Prefacturas">
                                                                    <i class="bi bi-receipt-cutoff"></i> @Localizer["PrefacturasMenu"]
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (accedeReportes)
                            {
                                //Si puede acceder a al menos un reporte, muestra el menú correspondiente
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle @_LayoutPages.ReportesNavClass(ViewContext)" href="#" id="navbarDropdownMenuLinkReportes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-clipboard-data"></i> @Localizer["ReportesMenu"]
                                    </a>
                                    <!-- Dropdown menu -->
                                    <div class="dropdown-menu shadow-lg mt-0 @classDropdownReportes" aria-labelledby="navbarDropdownMenuLinkReportes">
                                        <div class="container">
                                            <div class="row my-2">
                                                @if (tieneReportesRH)
                                                {  
                                                    <div class="@classDivReportes">
                                                        <div class="list-group list-group-flush">
                                                            <p class="mb-0 list-group-item text-uppercase text-center">
                                                                <b>@Localizer["HumanResourcesMenu"]</b>
                                                            </p>
                                                            @if (permisos.ContainsKey("organigrama") ? permisos["organigrama"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.OrganigramaNavClass(ViewContext)" asp-area="Reportes" asp-page="/Organigrama">
                                                                    <i class="bi bi-diagram-3-fill"></i> @Localizer["OrganizationChartMenu"]
                                                                </a>
                                                            }
                                                            @if (permisos.ContainsKey("asistencia") ? permisos["asistencia"] : false)
                                                            {
                                                                <a class="dropdown-item p-2 @_LayoutPages.AsistenciaNavClass(ViewContext)" asp-area="Reportes" asp-page="/Asistencia">
                                                                    <i class="bi bi-fingerprint"></i> @Localizer["AsistenciaMenu"]
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                @if (tieneReportesEmpresas)
                                                {
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                    <!-- Left links -->
                    <!-- Right links-->
                    <partial name="_LoginPartial" />
                    <!-- Right links-->
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="float-start">
                &copy; @DateTime.Now.Year - ERPSEI - <a asp-area="" asp-page="/Privacy">@Localizer["PrivacyMenu"]</a>
            </div>
            <div class="float-end d-none d-sm-inline-block d-md-inline-block d-lg-inline-block">
                @Localizer["RightFooter"]
            </div>
        </div>
    </footer>

    <script src="@Context.Request.Scheme://@Context.Request.Host/lib/jquery/dist/jquery.min.js"></script>
    <script src="@Context.Request.Scheme://@Context.Request.Host/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@Context.Request.Scheme://@Context.Request.Host/js/Loading.js"></script>
    <script src="@Context.Request.Scheme://@Context.Request.Host/js/MessageDialog.js"></script>
    <script src="@Context.Request.Scheme://@Context.Request.Host/js/Utilities.js"></script>
    <script src="@Context.Request.Scheme://@Context.Request.Host/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>