@using ERPSEI.Data.Entities
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<AppUser> SignInManager
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERPSEI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ERPSEI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img class="brandimage" src="@Context.Request.Scheme://@Context.Request.Host/img/brand_dark.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link @_LayoutPages.InicioNavClass(ViewContext)" asp-area="" asp-page="/Index">@Localizer["HomeMenu"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @_LayoutPages.AvisoPrivacidadNavClass(ViewContext)" asp-area="" asp-page="/Privacy">@Localizer["PrivacyMenu"]</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @_LayoutPages.CatalogosNavClass(ViewContext)" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Localizer["CatalogsMenu"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item @_LayoutPages.GestionDeTalentoNavClass(ViewContext)" asp-area="Catalogos" asp-page="/GestionDeTalento">@Localizer["PersonalCatalogMenu"]</a>
                                    <a class="dropdown-item @_LayoutPages.CatalogoPuestosNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Puestos">@Localizer["PositionsCatalogMenu"]</a>
                                    <a class="dropdown-item @_LayoutPages.CatalogoAreasNavClass(ViewContext)" asp-area="Catalogos" asp-page="/Areas">@Localizer["AreasCatalogMenu"]</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <!--Los submenues deben llevar el atributo data-bs-auto-close="outside" para que el menú padre permanezca abierto al dar clic-->
                                <a class="nav-link dropdown-toggle @_LayoutPages.ERPNavClass(ViewContext)" href="#" id="navbarDropdownMenuLinkERP" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    @Localizer["ERPMenu"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkERP">
                                    <div class="dropend">
                                        <a class="dropdown-item nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">@Localizer["HumanResourcesMenu"]</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-area="" asp-page="/Building">@Localizer["OrganizationChartMenu"]</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/Building">@Localizer["VacationMenu"]</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/Building">@Localizer["DisabilitiesMenu"]</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/Building">@Localizer["PermissionsMenu"]</a>
                                        </div>
                                    </div>
                                    @* <div class="dropend">
                                        <a class="dropdown-item dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#">@Localizer["AccountingMenu"]</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-dark" asp-area="" asp-page="/Building">@Localizer["Item1"]</a>
                                            <a class="dropdown-item text-dark" asp-area="" asp-page="/Building">@Localizer["Item2"]</a>
                                        </div>
                                    </div> *@
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="float-start">
                &copy; @DateTime.Now.Year - ERPSEI - <a asp-area="" asp-page="/Privacy">@Localizer["PrivacyMenu"]</a>
            </div>
            <div class="float-end d-none d-sm-inline-block d-md-inline-block d-lg-inline-block">
                @Localizer["RightFooter"]
            </div>
        </div>
    </footer>

    <script src="@Context.Request.Scheme://@Context.Request.Host/lib/jquery/dist/jquery.min.js"></script>
    <script src="@Context.Request.Scheme://@Context.Request.Host/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@Context.Request.Scheme://@Context.Request.Host/js/Loading.js"></script>
    <script src="@Context.Request.Scheme://@Context.Request.Host/js/MessageDialog.js"></script>
    <script src="@Context.Request.Scheme://@Context.Request.Host/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>