@page "{handler?}"
@using ERPSEI.Areas.Reportes.Pages;
@using ERPSEI.Data.Managers;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using ERPSEI.Data.Entities.Empleados;
@using ERPSEI.Data.Managers.Empleados;
@model AsistenciaModel
@inject IViewLocalizer Localizer;
@{
	ViewData["Title"] = Localizer["Title"];

	// Retrieves the requested culture
	IRequestCultureFeature? rqf = Request.HttpContext.Features.Get<IRequestCultureFeature>();

	// Culture contains the information of the requested culture
	System.Globalization.CultureInfo? culture = rqf != null ? rqf.RequestCulture.Culture : new System.Globalization.CultureInfo("es-MX");

	string cultureName = culture.Name;

	bool puedeTodo = User.Claims.Where(c => c.Type.Equals("PuedeTodo", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeConsultar = User.Claims.Where(c => c.Type.Equals("PuedeConsultar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeEditar = User.Claims.Where(c => c.Type.Equals("PuedeEditar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeEliminar = User.Claims.Where(c => c.Type.Equals("PuedeEliminar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeAutorizar = User.Claims.Where(c => c.Type.Equals("PuedeAutorizar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
}

<h3 class="title mb-3">@ViewData["Title"]</h3>

<!-- Sección de filtros -------- -->
<div class="accordion shadow mb-5" id="accordionFiltros">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button p-2 bg-gradient bg-primary bg-opacity-10 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				<h6>@Localizer["FilterTitle"]</h6>
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFiltros">
			<div class="accordion-body">
				<form id="filtros" method="post">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroNombreEmpleado" type="text" asp-for="InputFiltro.NombreEmpleado" class="form-control" placeholder="@Localizer["EmployeeNameField"]" />
								<label for="inpFiltroNombreEmpleado" asp-for="InputFiltro.NombreEmpleado" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroFechaIngresoInicio" type="date" asp-for="InputFiltro.FechaIngresoInicio" class="form-control" placeholder="@Localizer["FechaInicioField"]" />
								<label for="inpFiltroFechaIngresoInicio" asp-for="InputFiltro.FechaIngresoInicio" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroFechaIngresoFin" type="date" asp-for="InputFiltro.FechaIngresoFin" class="form-control" placeholder="@Localizer["FechaFinField"]" />
								<label for="inpFiltroFechaIngresoFin" asp-for="InputFiltro.FechaIngresoFin" class="form-label"></label>
							</div>
						</div>
					</div>
				</form>
				@if (puedeTodo || puedeConsultar || puedeEditar || puedeEliminar)
				{
				<div class="row text-end">
					<div class="col-12">
						<button id="btnBuscar" class="btn btn-primary" onclick="onBuscarClick();">
							<i class="bi bi-search"></i> @Localizer["SearchButton"]
						</button>
					</div>
				</div>
				}
			</div>
		</div>
	</div>
</div>

<div id="dlgAsistenciaModal" class="modal fade" tabindex="-1" aria-labelledby="dlgAsistenciaLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dlgAsistenciaLabel">Calcular Asistencia</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- Botón de exportación dentro del modal -->
				<div id="toolbarModal" class="mb-3">
					<button class="btn btn-success" id="btnExportExcel" onclick="$('#jtableContainer table').bootstrapTable('togglePagination').bootstrapTable('export', { type: 'excel', escape: false });">
						Exportar a Excel
					</button>
				</div>
				<!-- Contenedor de la tabla -->
				<div id="jtableContainer"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<!-- Sección tabla de resultados -->
<div id="toolbar" class="col-xl-12">
	<button id="btnCalcularAsistencia" class="btn btn-primary">
		<span class="d-none d-sm-inline">@Localizer["Calculateattendance"]</span>
	</button>
</div>


<table id="table" class="table-sm"
	   data-unique-id="id"
	   data-toolbar="#toolbar"
	   data-search="true"
	   data-show-refresh="true"
	   data-show-toggle="true"
	   data-show-fullscreen="true"
	   data-show-columns="true"
	   data-show-columns-toggle-all="true"
	   data-show-export="true"
	   data-click-to-select="true"
	   data-minimum-count-columns="2"
	   data-show-pagination-switch="true"
	   data-pagination="true"
	   data-id-field="id"
	   data-page-list="[10, 25, 50, 100, all]"
	   data-show-footer="false"
	   data-side-pagination="client"
	   data-response-handler="responseHandler"
	   data-buttons-class="primary"
	   data-url="/Reportes/Asistencia/AsistenciasList">
	<thead>
		<tr align="center" valign="middle" class="bg-primary bg-opacity-10">
		</tr>
	</thead>
</table>

<!-- Sección Nuevo/Editar/Ver Registro --- -->
<form id="theForm" method="post">
	<div id="dlgAsistencia" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="dlgAsistenciaTitle" class="modal-title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body align-items-center">
					<div class="container-fluid">
						<div id="saveValidationSummary" class="text-danger mb-3" role="alert"></div>
						<div class="row">
							<div class="col-3">
								<div class="form-floating mb-3">
									<input id="inpAsistenciaId" asp-for="ListaAsistencia.Id" type="text" class="form-control" placeholder="@Localizer["IdPlaceholder"]" />
									<label asp-for="ListaAsistencia.Id" class=""></label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-floating mb-3">
									<input id="inpAsistenciaNombre" asp-for="ListaAsistencia.Empleado" type="text" class="form-control" placeholder="@Localizer["NombrePlaceholder"]" />
									<label asp-for="ListaAsistencia.Empleado" class=""></label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-floating mb-3">
									<select id="inpAsistenciaResultadoE" asp-for="ListaAsistencia.ResultadoE" class="form-select" placeholder="@Localizer["ResultadoEPlaceholder"]">
										
										<option value="0">NORMAL</option>
										<option value="1">RETARDO</option>
										<option value="2">OMISI&Oacute;N/FALTA</option>
									</select>
									<label asp-for="ListaAsistencia.ResultadoE" class="form-label"></label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-floating mb-3">
									<select id="inpAsistenciaResultadoS" asp-for="ListaAsistencia.ResultadoS" class="form-select" placeholder="@Localizer["ResultadoSPlaceholder"]">

										<option value="0">TEMPRANO</option>
										<option value="1">NORMAL</option>
										<option value="2">OMISI&Oacute;N/FALTA</option>
									</select>
									<label asp-for="ListaAsistencia.ResultadoS" class=""></label>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<button id="dlgAsistenciaBtnCancelar" type="button" class="btn btn-secondary" onclick="onCerrarClick();" data-bs-dismiss="modal">
					<i class="bi bi-x-lg"></i> @Localizer["CancelButton"]
				</button>
				<button id="dlgAsistenciaBtnGuardar" type="button" class="btn btn-primary" onclick="onGuardarClick();">
					<i class="bi bi-floppy"></i> @Localizer["SaveButton"]
				</button>
			</div>
		</div>
	</div>
	</div>
</form>
	
<!-- --------------------------- -->
<!-- Sección Importar Excel ---- -->
<div id="dlgImportarExcel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="dlgExcelTitle" class="modal-title">@Localizer["ImportExcelDialogTitle"]</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body align-items-center">
				<div class="alert d-flex align-items-center" role="alert">
					<i class="bi bi-1-circle-fill me-2" style="font-size: x-large"></i>
					<div>@Localizer["ImportExcelSuggestionA"]</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-12 text-center mb-3">
							<a id="dlgExcelBtnPlantilla" href="@Url.Page("Asistencia", "DownloadPlantilla")" class="btn btn-primary">
								<i class="bi bi-file-earmark-ruled"></i> @Localizer["PlantillaButtonTitle"]
							</a>
						</div>
					</div>
				</div>
				<div class="alert d-flex align-items-center" role="alert">
					<i class="bi bi-2-circle-fill me-2" style="font-size: x-large"></i>
					<div>@Localizer["ImportExcelSuggestionB"]</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<form id="importForm" method="post">
								<input asp-for="InputImportar.Plantilla" id="excelFile" onchange="onExcelSelectorChanged(this);" class="form-control" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
								<span asp-validation-for="InputImportar.Plantilla" class="text-danger"></span>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="dlgExcelBtnCancelar" type="button" class="btn btn-secondary" onclick="onCerrarImportarClick();" data-bs-dismiss="modal">
					<i class="bi bi-x-lg"></i> @Localizer["CancelButtonTitle"]
				</button>
				@if (puedeTodo || puedeEditar)
				{
				<button id="dlgExcelBtnImportar" type="button" class="btn btn-primary" onclick="onImportarClick();">
					<i class="bi bi-upload"></i> @Localizer["ImportButtonText"]
				</button>
				}
			</div>
		</div>
	</div>
</div>



@section Scripts {
	<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
	<link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
	<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
	<script src="~/js/autocompletar.js"></script>

	<script src="~/lib/bootstrap-table/extensions/export/tableExport.min.js"></script>
	<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>+
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-es-MX.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-en-US.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/export/xlsx.full.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/export/exceljs.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/export/FileSaver.min.js"></script>

	<link rel="stylesheet" href="~/css/Asistencia.css" />
	<script src="~/../Areas/Reportes/Pages/Asistencia.cshtml.js"></script>

	<script type="text/javascript">
		var cultureName = "@cultureName";
		var btnImportarText = '@Localizer["ImportButtonText"]';
		var btnImportarTitle = '@Localizer["ImportButtonTitle"]';
		var btnInvitarTitle = '@Localizer["InviteButtonTitle"]';
		var btnVerTitle = '@Localizer["SeeButtonTitle"]';
		var btnEditarTitle = '@Localizer["EditButtonTitle"]';
		var btnEliminarTitle = '@Localizer["DeleteButton"]';
		var dlgEditarTitle = '@Localizer["EditDialogTitle"]';
		var dlgVerTitle = '@Localizer["SeeDialogTitle"]';
		var dlgNuevoTitle = '@Localizer["NewDialogTitle"]';
		var dlgDeleteTitle = '@Localizer["DeleteEmpleadoDialogTitle"]';
		var dlgDeleteQuestion = '@Localizer["DeleteEmpleadoDialogQuestion"]';
		var dlgDeleteTitle = '@Localizer["DeletePositionDialogTitle"]';
		var dlgDeleteQuestion = '@Localizer["DeletePositionDialogQuestion"]';
		var colHorarioHeader = '@Localizer["colHorarioHeader"]';
		var colNombreEmpleadoHeader = '@Localizer["ColNameHeader"]';
		var colFechaHeader = '@Localizer["ColDateHeader"]';
		var colDiaHeader = '@Localizer["ColDayHeader"]';
		var colEntradaHeader = '@Localizer["ColEntryHeader"]';
		var colResultadoEHeader = '@Localizer["ColResultEntryHeader"]';
		var colSalidaHeader = '@Localizer["ColExitHeader"]';
		var colResultadoSHeader = '@Localizer["ColResultExitHeader"]';
		var colAccionesHeader = '@Localizer["ColActionsHeader"]';

		var invalidFormatTitle = '@Localizer["InvalidFormatTitle"]';
		var invalidFormatMsg = '@Localizer["InvalidFormatMsg"]';
		var fileFormatTitle = '@Localizer["FileFormatTitle"]';
		var fileFormatMessage = '@Localizer["FileFormatMessage"]';
		var maxFileSizeTitle = '@Localizer["MaxFileSizeTitle"]';
		var maxFileSizeMessage = '@Localizer["MaxFileSizeMessage"]';

		var puedeTodo = '@puedeTodo' == 'True';
		var puedeConsultar = '@puedeConsultar' == 'True';
		var puedeEditar = '@puedeEditar' == 'True';
		var puedeEliminar = '@puedeEliminar' == 'True';
		var puedeAutorizar = '@puedeAutorizar' == 'True';
	</script>

	<partial name="_ValidationScriptsPartial" />
}