@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model RegisterConfirmationModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">@Localizer["AlternativeMessage"]</a>
</p>
    }
    else
    {
<p>
        @Localizer["Message"].
</p>
    }
}

