@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ERPSEI.Data.Entities
@inject IViewLocalizer Localizer
@model IndexModel
@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<form id="profile-form" method="post" enctype="multipart/form-data">
    <h3>@ViewData["Title"]</h3>
    <br />
    <hr />
    <h5>@Localizer["FirstSectionTitle"]</h5>
    <br />
    <partial name="_StatusMessage" for="StatusMessage" />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="row">
        <div class="col-lg-6">
            <center>
                <div>
                    <img id="profilePicContainer" class="profile-pic mb-3" src="@Model.ProfilePictureSrc" />
                </div>
                <div style="width:auto;" class="mb-3">
                    <input asp-for="Input.ProfilePicture" type="file" id="profilePicSelector" onchange="onProfilePicSelectorChanged(this);" accept="image/png, image/jpeg" hidden />
                    <a id="editProfilePicLink" class="btn btn-primary" onclick="onEditDocumentClick(this);" inputName="profilePicSelector">
                        <i class="bi bi-pencil-fill"></i> @Localizer["EditLink"]
                    </a>
                </div>
            </center>
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <i class="bi bi-info-circle-fill me-2" style="font-size: x-large"></i>
                <div>
                    @Localizer["ProfilePicSuggestion"]
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" placeholder="@Localizer["UsernamePlaceholder"]" disabled/>
                <label asp-for="Input.Username" class="form-label"></label>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-lg-6">
                    <input asp-for="Input.FirstName" class="form-control" placeholder="@Localizer["FirstNamePlaceholder"]" />
                    <label asp-for="Input.FirstName" style="left: 10px;" class="form-label"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-lg-6">
                    <input asp-for="Input.SecondName" class="form-control" placeholder="@Localizer["SecondNamePlaceholder"]" />
                    <label asp-for="Input.SecondName" style="left: 10px;" class="form-label"></label>
                    <span asp-validation-for="Input.SecondName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-lg-6">
                    <input asp-for="Input.FathersLastName" class="form-control" placeholder="@Localizer["FathersLastNamePlaceholder"]" />
                    <label asp-for="Input.FathersLastName" style="left: 10px;" class="form-label"></label>
                    <span asp-validation-for="Input.FathersLastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-lg-6">
                    <input asp-for="Input.MothersLastName" class="form-control" placeholder="@Localizer["MothersLastNamePlaceholder"]" />
                    <label asp-for="Input.MothersLastName" style="left: 10px;" class="form-label"></label>
                    <span asp-validation-for="Input.MothersLastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="@Localizer["PhonePlaceholder"]" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">
                <i class="bi bi-floppy2-fill"></i>
                @Localizer["SaveButton"]
            </button>
        </div>
    </div>
    <hr />
    <h5>@Localizer["SecondSectionTitle"]</h5>
    <br />
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <i class="bi bi-info-circle-fill me-2" style="font-size: x-large"></i>
        <div>
            @Localizer["DocumentSuggestion"]
        </div>
    </div>
    <br />
    <table class="table table-bordered" align="center" style="width:auto;">
        <thead>
            <tr align="center">
                <th scope="col"></th>
                <th scope="col">Nombre documento</th>
                <th scope="col">Documento</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (IndexModel.FileFromGet fd in Model.FilesFromGet)
                {
                    //Obtiene el nombre del tipo.
                    string? enumName = Enum.GetName(typeof(FileTypes),fd.TypeId) ?? "";
                    string containerId = Guid.NewGuid().ToString();
                    string selectorId = Guid.NewGuid().ToString();

                    <tr valign="middle" align="center">
                        <th scope="row">@fd.TypeId</th>
                        <td><b>@Localizer[@enumName]</b></td>
                        <td>
                            <div id="@containerId" class="document-container">
                                @Html.Raw(fd.Src)
                            </div>
                        </td>
                        <td align="left">
                            <div style="width:auto;">
                                <input type="hidden" name="FilesFromGet.Index" value="@fd.FileId" />
                                <input type="hidden" name="FilesFromGet[@fd.FileId].FileId" value="@fd.FileId" />
                                <input type="hidden" name="FilesFromGet[@fd.FileId].TypeId" value="@fd.TypeId" />
                                <input name="FilesFromGet[@fd.FileId].File" type="file" id="@selectorId" containerName="@containerId" onchange="onDocumentSelectorChanged(this);" accept="image/png, image/jpeg, application/pdf" hidden />
                                <a class="btn btn-primary mb-1" onclick="onEditDocumentClick(this);" inputName="@selectorId">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a class="btn btn-primary disableable mb-1" asp-page="/FileViewer" asp-route-id="@fd.FileId" target="_blank" sourceLength="@fd.Src.Length">
                                    <i class="bi bi-search"></i>
                                </a>
                                <a class="btn btn-danger disableable mb-1" onclick="onDeleteClick(this);" sourceId="@selectorId" sourceLength="@fd.Src.Length">
                                    <i class="bi bi-x-lg"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @* la siguiente sección deberá retirarse cuando se tenga el catálogo de personal
    para que la desactivación del perfil se realice desde allá.
    *@
    @* <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="mb-6">
            <a id="delete" asp-page="DeletePersonalData" class="w-100 btn btn-lg btn-danger">@Localizer["DeactivateButton"]</a>
        </div>
    </div> *@
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/pdfjs/pdf.js"></script>
    <script src="~/../Areas/Identity/Pages/Account/Manage/Index.cshtml.js"></script>
}
