@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ERPSEI.Data.Entities
@inject IViewLocalizer Localizer
@model IndexModel
@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<form id="profile-form" method="post" enctype="multipart/form-data">
    <h3>@ViewData["Title"]</h3>
    <br />
    <hr />
    <h5>@Localizer["FirstSectionTitle"]</h5>
    <br />
    <partial name="_StatusMessage" for="StatusMessage" />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="row">
        <div class="col-lg-6">
            <center>
                <div>
                    <img id="profilePicContainer" class="profile-pic mb-3" src="@Model.ProfilePictureSrc" />
                </div>
                <div style="width:auto;" class="mb-3">
                    <input asp-for="Input.ProfilePicture" type="file" id="profilePicSelector" onchange="onProfilePicSelectorChanged(this);" accept="image/png, image/jpeg" hidden />
                    <a id="editProfilePicLink" class="btn btn-primary" onclick="onEditDocumentClick(this);" inputName="profilePicSelector">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                        @Localizer["EditLink"]
                    </a>
                </div>
            </center>
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi flex-shrink-0 me-2" width="24" height="24" aria-label="Info:" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </svg>
                <div>
                    @Localizer["ProfilePicSuggestion"]
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" placeholder="@Localizer["UsernamePlaceholder"]" disabled/>
                <label asp-for="Input.Username" class="form-label"></label>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-lg-6">
                    <input asp-for="Input.FirstName" class="form-control" placeholder="@Localizer["FirstNamePlaceholder"]" />
                    <label asp-for="Input.FirstName" style="left: 10px;" class="form-label"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-lg-6">
                    <input asp-for="Input.SecondName" class="form-control" placeholder="@Localizer["SecondNamePlaceholder"]" />
                    <label asp-for="Input.SecondName" style="left: 10px;" class="form-label"></label>
                    <span asp-validation-for="Input.SecondName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-lg-6">
                    <input asp-for="Input.FathersLastName" class="form-control" placeholder="@Localizer["FathersLastNamePlaceholder"]" />
                    <label asp-for="Input.FathersLastName" style="left: 10px;" class="form-label"></label>
                    <span asp-validation-for="Input.FathersLastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-lg-6">
                    <input asp-for="Input.MothersLastName" class="form-control" placeholder="@Localizer["MothersLastNamePlaceholder"]" />
                    <label asp-for="Input.MothersLastName" style="left: 10px;" class="form-label"></label>
                    <span asp-validation-for="Input.MothersLastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="@Localizer["PhonePlaceholder"]" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy2-fill" viewBox="0 0 16 16">
                    <path d="M12 2h-2v3h2V2Z" />
                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0H1.5ZM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1H4ZM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1Z" />
                </svg>
                @Localizer["SaveButton"]
            </button>
        </div>
    </div>
    <hr />
    <h5>@Localizer["SecondSectionTitle"]</h5>
    <br />
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi flex-shrink-0 me-2" width="24" height="24" aria-label="Info:" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </svg>
        <div>
            @Localizer["DocumentSuggestion"]
        </div>
    </div>
    <br />
    <table class="table table-bordered" align="center" style="width:auto;">
        <thead>
            <tr align="center">
                <th scope="col"></th>
                <th scope="col">Nombre documento</th>
                <th scope="col">Documento</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (IndexModel.FileFromGet fd in Model.FilesFromGet)
                {
                    //Obtiene el nombre del tipo.
                    string? enumName = Enum.GetName(typeof(FileTypes),fd.TypeId) ?? "";
                    string containerId = Guid.NewGuid().ToString();
                    string selectorId = Guid.NewGuid().ToString();

                    <tr valign="middle" align="center">
                        <th scope="row">@fd.TypeId</th>
                        <td><b>@Localizer[@enumName]</b></td>
                        <td>
                            <div id="@containerId" class="document-container">
                                @Html.Raw(fd.Src)
                            </div>
                        </td>
                        <td align="left">
                            <div style="width:auto;">
                                <input type="hidden" name="FilesFromGet.Index" value="@fd.FileId" />
                                <input type="hidden" name="FilesFromGet[@fd.FileId].FileId" value="@fd.FileId" />
                                <input type="hidden" name="FilesFromGet[@fd.FileId].TypeId" value="@fd.TypeId" />
                                <input name="FilesFromGet[@fd.FileId].File" type="file" id="@selectorId" containerName="@containerId" onchange="onDocumentSelectorChanged(this);" accept="image/png, image/jpeg, application/pdf" hidden />
                                <a class="btn btn-primary mb-1" onclick="onEditDocumentClick(this);" inputName="@selectorId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                    </svg>
                                </a>
                                <a class="btn btn-primary disableable mb-1" asp-page="/FileViewer" asp-route-id="@fd.FileId" target="_blank" sourceLength="@fd.Src.Length">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </a>
                                <a class="btn btn-danger disableable mb-1" onclick="onDeleteClick(this);" sourceId="@selectorId" sourceLength="@fd.Src.Length">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @* la siguiente sección deberá retirarse cuando se tenga el catálogo de personal
    para que la desactivación del perfil se realice desde allá.
    *@
    @* <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="mb-6">
            <a id="delete" asp-page="DeletePersonalData" class="w-100 btn btn-lg btn-danger">@Localizer["DeactivateButton"]</a>
        </div>
    </div> *@
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/pdfjs/pdf.js"></script>
    <script src="~/../Areas/Identity/Pages/Account/Manage/Index.cshtml.js"></script>
}
