@page "{handler?}"
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using ERPSEI.Data.Entities.SAT;
@using ERPSEI.Data.Managers.SAT;
@using ERPSEI.Data.Entities.Usuarios;
@using ERPSEI.Data.Managers.Usuarios;
@using ERPSEI.Data.Entities.SAT.Catalogos;
@using ERPSEI.Data.Managers.SAT.Catalogos;

@model ERPSEI.Areas.ERP.Pages.AdministradorDeComprobantesModel
@inject IViewLocalizer Localizer;
@inject ITasaOCuotaManager TasaOCuotaManager;
@inject IImpuestoManager ImpuestoManager;
@inject IObjetoImpuestoManager ObjetoImpuestoManager;
@inject ITipoComprobanteManager TipoComprobanteManager;
@inject IMonedaManager MonedaManager;
@inject IFormaPagoManager FormaPagoManager;
@inject IMetodoPagoManager MetodoPagoManager;
@inject IUsoCFDIManager UsoCFDIManager;
@inject IExportacionManager ExportacionManager;
@inject IAccesoModuloManager AccesosModulosManager;
@inject AppRoleManager RolesManager;
@inject AppUserManager UsuariosManager;
@inject IConfiguration Configuration;
@{
	ViewData["Title"] = Localizer["Title"];

	// Retrieves the requested culture
	IRequestCultureFeature? rqf = Request.HttpContext.Features.Get<IRequestCultureFeature>();

	// Culture contains the information of the requested culture
	System.Globalization.CultureInfo? culture = rqf != null ? rqf.RequestCulture.Culture : new System.Globalization.CultureInfo("es-MX");

	string cultureName = culture.Name;

	List<TasaOCuota> tasasOCuotas = await TasaOCuotaManager.GetAllAsync();
	List<TasaOCuota> tocTraslados = tasasOCuotas.Where(t => t.Traslado && t.Deshabilitado == 0).ToList();
	List <TasaOCuota> tocRetenciones = tasasOCuotas.Where(t => t.Retencion && t.Deshabilitado == 0).ToList();
	List<Impuesto> impuestos = await ImpuestoManager.GetAllAsync();
	List<ObjetoImpuesto> objetosImpuesto = await ObjetoImpuestoManager.GetAllAsync();
	List<TipoComprobante> tiposComprobante = await TipoComprobanteManager.GetAllAsync();
	List<Moneda> monedas = await MonedaManager.GetAllAsync();
	List<FormaPago> formasPago = await FormaPagoManager.GetAllAsync();
	List<MetodoPago> metodosPago = await MetodoPagoManager.GetAllAsync();
	List<UsoCFDI> usosCFDI = await UsoCFDIManager.GetAllAsync();
	List<Exportacion> exportaciones = await ExportacionManager.GetAllAsync();

	bool puedeTodo = User.Claims.Where(c => c.Type.Equals("PuedeTodo", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeConsultar = User.Claims.Where(c => c.Type.Equals("PuedeConsultar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeEditar = User.Claims.Where(c => c.Type.Equals("PuedeEditar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeEliminar = User.Claims.Where(c => c.Type.Equals("PuedeEliminar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeAutorizar = User.Claims.Where(c => c.Type.Equals("PuedeAutorizar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";

	AppUser? user = await UsuariosManager.GetUserAsync(User);
	string userId = user?.Id ?? string.Empty;

	IConfigurationSection autorizadoresSection = Configuration.GetSection("AutorizadoresPrefacturas");

	string authUsers = string.Join(",", (from e in autorizadoresSection.AsEnumerable() select e.Value));
}
<h3 class="title mb-3">@ViewData["Title"]</h3>

<!-- --------------------------- -->
<!-- Sección de filtros -------- -->
<div class="accordion shadow mb-5" id="accordionFiltros">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				<h6>@Localizer["FilterTitle"]</h6>
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFiltros">
			<div class="accordion-body">
				<form id="filtros" method="post">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroFechaInicio" type="date" asp-for="InputFiltro.FechaInicio" class="form-control" placeholder="@Localizer["FechaPlaceholder"]" />
								<label for="inpFiltroFechaInicio" asp-for="InputFiltro.FechaInicio" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroFechaFin" type="date" asp-for="InputFiltro.FechaFin" class="form-control" placeholder="@Localizer["FechaPlaceholder"]" />
								<label for="inpFiltroFechaFin" asp-for="InputFiltro.FechaFin" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroSerie" asp-for="InputFiltro.Serie" class="form-control" placeholder="@Localizer["SeriePlaceholder"]" />
								<label for="selFiltroSerie" asp-for="InputFiltro.Serie" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<select id="selFiltroMoneda" asp-for="InputFiltro.MonedaId" class="form-select" placeholder="@Localizer["MonedaPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										@foreach (Moneda moneda in monedas)
										{
											<option value='@moneda.Id'>@moneda.Descripcion</option>
										}
									}
								</select>
								<label for="selFiltroMoneda" asp-for="InputFiltro.MonedaId" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<select id="selFiltroFormaPago" asp-for="InputFiltro.FormaPagoId" class="form-select" placeholder="@Localizer["FormaPagoPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										@foreach (FormaPago forma in formasPago)
										{
											<option value='@forma.Id'>@forma.Descripcion</option>
										}
									}
								</select>
								<label for="selFiltroFormaPago" asp-for="InputFiltro.FormaPagoId" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<select id="selFiltroMetodoPago" asp-for="InputFiltro.MetodoPagoId" class="form-select" placeholder="@Localizer["MetodoPagoPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										@foreach (MetodoPago metodo in metodosPago)
										{
											<option value='@metodo.Id'>@metodo.Descripcion</option>
										}
									}
								</select>
								<label for="selFiltroMetodoPago" asp-for="InputFiltro.MetodoPagoId" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-6">
							<div class="form-floating mb-3">
								<select id="selFiltroUsoCFDI" asp-for="InputFiltro.UsoCFDIId" class="form-select" placeholder="@Localizer["UsoCFDIPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										@foreach (UsoCFDI uso in usosCFDI)
										{
											<option value='@uso.Id'>@uso.Descripcion</option>
										}
									}
								</select>
								<label for="selFiltroUsoCFDI" asp-for="InputFiltro.UsoCFDIId" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroUsuarioCreador" type="search" asp-for="InputFiltro.UsuarioCreadorId" class="form-control" placeholder="@Localizer["UsuarioCreadorPlaceholder"]" idselected='' area="ERP" module="Prefacturas" source="GetUsuariosSuggestion" />
								<label for="inpFiltroUsuarioCreador" asp-for="InputFiltro.UsuarioCreadorId" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroUsuarioTimbrador" type="search" asp-for="InputFiltro.UsuarioTimbradorId" class="form-control" placeholder="@Localizer["UsuarioTimbradorPlaceholder"]" idselected='' area="ERP" module="Prefacturas" source="GetUsuariosSuggestion" />
								<label for="inpFiltroUsuarioTimbrador" asp-for="InputFiltro.UsuarioTimbradorId" class="form-label"></label>
							</div>
						</div>
					</div>
				</form>
				@if (puedeTodo || puedeConsultar || puedeEditar || puedeEliminar)
				{
					<div class="row text-end">
						<div class="col-12">
							<button id="btnBuscar" class="btn btn-primary" onclick="onBuscarClick();">
								<i class="bi bi-search"></i> @Localizer["SearchButton"]
							</button>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección tabla de resultados -->
<div id="toolbar" class="col-xl-12">
	@if (puedeTodo || puedeEditar)
	{
		<button id="btnAgregar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dlgCFDI" onclick="onAgregarClick();">
			<i class="bi bi-plus-lg"></i> <span class="d-none d-sm-inline">@Localizer["AddButton"]</span>
		</button>
		<button id="btnTimbrar" class="btn btn-primary" disabled>
			<i class="bi bi-postage"></i> <span class="d-none d-sm-inline">@Localizer["StampButtonTitle"]</span>
		</button>
	}
	@if (puedeTodo || puedeConsultar)
	{
		<button id="btnExportar" class="btn btn-primary" disabled>
			<i class="bi bi-file-earmark-spreadsheet"></i> <span class="d-none d-sm-inline">@Localizer["ExportButton"]</span>
		</button>
		<a hidden id="downloadFileLink" href="@Url.Page("Prefacturas", "DownloadExcel")" class="btn btn-primary"></a>
	}
</div>
<table id="table" class="table-sm"
	   data-unique-id="id"
	   data-toolbar="#toolbar"
	   data-search="true"
	   data-show-fullscreen="true"
	   data-show-columns="true"
	   data-show-columns-toggle-all="true"
	   data-click-to-select="true"
	   data-minimum-count-columns="2"
	   data-show-pagination-switch="true"
	   data-pagination="true"
	   data-id-field="id"
	   data-page-list="[10, 25, 50, 100, all]"
	   data-show-footer="false"
	   data-side-pagination="client"
	   data-response-handler="responseHandler"
	   data-buttons-class="primary">
	<thead>
		<tr align="center" valign="middle" class="bg-primary bg-opacity-10">
		</tr>
	</thead>
</table>
<!-- --------------------------- -->
<!-- --------------------------- -->
<form id="theForm" method="post">
	<!-- --------------------------- -->
	<!-- Sección Diálogo CFDI ------ -->
	<div id="dlgCFDI" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="dlgCFDITitle" class="modal-title"></h5>
					<button type="button" class="btn-close" onclick="onCerrarDialogoClick();"></button>
				</div>
				<div class="modal-body align-items-center">
					<div class="container-fluid">
						<div class="row">
							<div class="col-3 col-lg-2">
								<div class="form-floating mb-3">
									<input id="inpCFDIId" asp-for="InputCFDI.Id" type="text" class="form-control" />
									<label for="inpCFDIId" asp-for="InputCFDI.Id" class="form-label"></label>
									<span asp-validation-for="InputCFDI.Id" class="text-danger"></span>
								</div>
							</div>
						</div>
						<hr />
						<div id="saveValidationSummary" class="text-danger mb-3" role="alert"></div>
						<ul class="nav nav-pills nav-justified" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="tabGenerales" data-bs-toggle="tab" data-bs-target="#infoGenerales" type="button" role="tab" aria-controls="infoGenerales" aria-selected="true">@Localizer["DatosGenerales"]</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="tabConceptos" data-bs-toggle="tab" data-bs-target="#infoConceptos" type="button" role="tab" aria-controls="infoConceptos" aria-selected="false">@Localizer["Conceptos"]</button>
							</li>
						</ul>
						<div class="tab-content pt-4">
							<div class="tab-pane fade show active" id="infoGenerales" role="tabpanel" aria-labelledby="tabGenerales" tabindex="0">
								<div class="row ui-front mb-4">
									<div class="col-12 col-lg-6">
										<div class="row">
											<div class="col-12"><h6>@Localizer["Emisor"]</h6></div>
											<div class="col-11">
												<div class="form-floating">
													<input id="inpEmisor" type="search" asp-for="InputEmpresa.TextoEmisor" class="form-control formInput" placeholder="@Localizer["Emisor"]" idselected='' area="ERP" module="Prefacturas" source="GetEmpresaSuggestion" filtro="idempresa" />
													<label for="inpEmisor" asp-for="InputEmpresa.TextoEmisor" class="form-label"></label>
													<span asp-validation-for="InputEmpresa.TextoEmisor" class="text-danger"></span>
												</div>
											</div>
											<div class="col-1 d-flex align-items-center p-0">
												<button id="btnInfoEmisor" type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#dlgInfoEmisor" hidden>
													<i class="bi text-primary bi-info-circle-fill" style="font-size: xx-large"></i>
												</button>

											</div>
										</div>
									</div>
									<div class="col-12 col-lg-6">
										<div class="row">
											<div class="col-12 mt-3 mt-lg-0 mt-md-0 mt-sm-0 mt-xl-0"><h6>@Localizer["Receptor"]</h6></div>
											<div class="col-11">
												<div class="form-floating">
													<input id="inpReceptor" type="search" asp-for="InputEmpresa.TextoReceptor" class="form-control formInput" placeholder="@Localizer["Receptor"]" idselected='' area="ERP" module="Prefacturas" source="GetEmpresaSuggestion" filtro="idempresa" />
													<label for="inpReceptor" asp-for="InputEmpresa.TextoReceptor" class="form-label"></label>
													<span asp-validation-for="InputEmpresa.TextoReceptor" class="text-danger"></span>
												</div>
											</div>
											<div class="col-1 d-flex align-items-center p-0">
												<button id="btnInfoReceptor" type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#dlgInfoReceptor" hidden>
													<i class="bi text-primary bi-info-circle-fill" style="font-size: xx-large"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-12 mb-3">
										<h6>@Localizer["Detalles"]</h6>
									</div>
								</div>
								<div class="row">
									<div class="col-12 col-lg-4">
										<div class="form-floating mb-4">
											<input id="inpFecha" type="datetime-local" asp-for="InputCFDI.Fecha" class="form-control formInput" placeholder="@Localizer["FechaPlaceholder"]" required />
											<label for="inpFecha" asp-for="InputCFDI.Fecha" class="form-label required"></label>
											<span asp-validation-for="InputCFDI.Fecha" class="text-danger"></span>
										</div>
									</div>
									<div class="col-12 col-lg-4">
										<div class="form-floating mb-4">
											<select id="selTipoComprobante" asp-for="InputCFDI.TipoComprobanteId" class="form-select formSelect" placeholder="@Localizer["TipoComprobantePlaceholder"]">
												@foreach (TipoComprobante tipo in tiposComprobante)
												{
													<option value='@tipo.Id'>@tipo.Clave - @tipo.Descripcion</option>
												}
											</select>
											<label for="selTipoComprobante" asp-for="InputCFDI.TipoComprobanteId" class="form-label required"></label>
											<span asp-validation-for="InputCFDI.TipoComprobanteId" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
										<div class="form-floating mb-4">
											<input id="inpSerie" asp-for="InputCFDI.Serie" type="text" class="form-control formInput" placeholder="@Localizer["SeriePlaceholder"]" />
											<label for="inpSerie" asp-for="InputCFDI.Serie" class="form-label required"></label>
											<span asp-validation-for="InputCFDI.Serie" class="text-danger"></span>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
										<div class="form-floating mb-4">
											<input id="inpFolio" asp-for="InputCFDI.Folio" type="text" class="form-control formInput" placeholder="@Localizer["FolioPlaceholder"]" />
											<label for="inpFolio" asp-for="InputCFDI.Folio" class="form-label required"></label>
											<span asp-validation-for="InputCFDI.Folio" class="text-danger"></span>
										</div>
									</div>
									<div class="col-12 col-lg-6">
										<div class="form-floating mb-4">
											<select id="selUsoCFDI" asp-for="InputCFDI.UsoCFDIId" class="form-select formSelect" placeholder="@Localizer["UsoCFDIPlaceholder"]">
												@foreach (UsoCFDI uso in usosCFDI)
												{
													<option value='@uso.Id'>@uso.Clave - @uso.Descripcion</option>
												}
											</select>
											<label for="selUsoCFDI" asp-for="InputCFDI.UsoCFDIId" class="form-label required"></label>
											<span asp-validation-for="InputCFDI.UsoCFDIId" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
										<div class="form-floating mb-4">
											<select id="selFormaPago" asp-for="InputCFDI.FormaPagoId" class="form-select formSelect" placeholder="@Localizer["FormaPagoPlaceholder"]">
												@foreach (FormaPago forma in formasPago)
												{
													<option value='@forma.Id'>@forma.Clave - @forma.Descripcion</option>
												}
											</select>
											<label for="selFormaPago" asp-for="InputCFDI.FormaPagoId" class="form-label required"></label>
											<span asp-validation-for="InputCFDI.FormaPagoId" class="text-danger"></span>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
										<div class="form-floating mb-4">
											<select id="selMetodoPago" asp-for="InputCFDI.MetodoPagoId" class="form-select formSelect" placeholder="@Localizer["MetodoPagoPlaceholder"]">
												@foreach (MetodoPago metodo in metodosPago)
												{
													<option value='@metodo.Id'>@metodo.Clave - @metodo.Descripcion</option>
												}
											</select>
											<label for="selMetodoPago" asp-for="InputCFDI.MetodoPagoId" class="form-label required"></label>
											<span asp-validation-for="InputCFDI.MetodoPagoId" class="text-danger"></span>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
										<div class="form-floating mb-4">
											<select id="selMoneda" asp-for="InputCFDI.MonedaId" class="form-select formSelect" placeholder="@Localizer["MonedaPlaceholder"]" onchange="onMonedaChanged();">
												@foreach (Moneda moneda in monedas)
												{
													<option clave ='@moneda.Clave' value='@moneda.Id'>@moneda.Clave - @moneda.Descripcion</option>
												}
											</select>
											<label for="selMoneda" asp-for="InputCFDI.MonedaId" class="form-label required"></label>
											<span asp-validation-for="InputCFDI.MonedaId" class="text-danger"></span>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
										<div class="form-floating mb-4">
											<input id="inpTipoCambio" asp-for="InputCFDI.TipoCambio" type="text" class="form-control formInput" placeholder="@Localizer["TipoCambioPlaceholder"]" />
											<label for="inpTipoCambio" asp-for="InputCFDI.TipoCambio" class="form-label required"></label>
											<span asp-validation-for="InputCFDI.TipoCambio" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
										<div class="form-floating">
											<select id="selExportacion" asp-for="InputCFDI.ExportacionId" class="form-select formSelect" placeholder="@Localizer["ExportacionPlaceholder"]">
												@foreach (Exportacion exportacion in exportaciones)
												{
													<option value='@exportacion.Id'>@exportacion.Clave - @exportacion.Descripcion</option>
												}
											</select>
											<label for="selExportacion" asp-for="InputCFDI.ExportacionId" class="form-label"></label>
											<span asp-validation-for="InputCFDI.ExportacionId" class="text-danger"></span>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
										<div class="form-floating">
											<input id="inpNumeroOperacion" asp-for="InputCFDI.NumeroOperacion" type="text" class="form-control formInput" placeholder="@Localizer["NumeroOperacionPlaceholder"]" />
											<label for="inpNumeroOperacion" asp-for="InputCFDI.NumeroOperacion" class="form-label"></label>
											<span asp-validation-for="InputCFDI.NumeroOperacion" class="text-danger"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="infoConceptos" role="tabpanel" aria-labelledby="tabConceptos" tabindex="0">
								<div class="row mb-3">
									<div id="toolbarProdServ" class="col-xl-12">
										@if (puedeTodo || puedeEditar)
										{
											<button type="button" id="btnAgregarProdServ" class="btn btn-primary formButton" data-bs-toggle="modal" data-bs-target="#dlgProdServ" onclick="initDialogProdServ();">
												<i class="bi bi-plus-lg"></i> <span class="d-none d-sm-inline">@Localizer["AddButton"]</span>
											</button>
										}
										@if (puedeTodo || puedeEliminar)
										{
											<button type="button" id="removeProdServ" class="btn btn-danger formButton" disabled>
												<i class="bi bi-trash"></i> <span class="d-none d-sm-inline">@Localizer["DeleteButton"]</span>
											</button>
										}
									</div>
									<table id="tableProductosServicios" class="table-sm"
										data-unique-id="id"
										data-click-to-select="true"
										data-toolbar="#toolbarProdServ"
										data-search="true"
										data-pagination-v-align="top"
										data-minimum-count-columns="2"
										data-pagination="true"
										data-id-field="id"
										data-page-list="[10, 25, 50, 100, all]"
										data-show-footer="false"
										data-side-pagination="client"
										data-response-handler="responseHandler"
										data-buttons-class="primary">
										<thead>
											<tr align="center" valign="middle" class="bg-primary bg-opacity-10">
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" style="display: inline !important;">
					<div class="container row">
						<div class="col-12 text-end">
							<button id="dlgCFDIBtnCancelar" type="button" class="btn btn-secondary" onclick="onCerrarDialogoClick();">
								<i class="bi bi-x-lg"></i> @Localizer["CancelButtonTitle"]
							</button>
							<button id="btnLimpiar" type="button" class="btn btn-secondary" onclick="onLimpiarClick();">
								<i class="bi bi-eraser-fill"></i> @Localizer["Limpiar"]
							</button>
							@if (puedeTodo || puedeEditar)
							{
								<button id="dlgCFDIBtnGuardar" type="button" class="btn btn-primary formButton" onclick="onGuardarClick();">
									<i class="bi bi-floppy"></i> @Localizer["SaveButtonTitle"]
								</button>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- --------------------------- -->
	<!-- --------------------------- -->

	<!-- ------------------------------------- -->
	<!-- Sección Diálogo Productos / Servicios -->
	<div id="dlgProdServ" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="dlgTitle" class="modal-title">@Localizer["ProductoServicioPlaceholder"]</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body align-items-center">
					<div class="container-fluid ui-front">
						<div class="row">
							<div class="col-12 mb-3">
								<h6>@Localizer["Busqueda"]</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-floating mb-4">
									<input id="inpProductoServicio" type="search" asp-for="InputConceptos.ProductoServicioId" class="form-control formInput" placeholder="@Localizer["ProductoServicioPlaceholder"]" idselected='' area="ERP" module="Prefacturas" source="GetProductosServiciosSuggestion" />
									<label for="inpProductoServicio" asp-for="InputConceptos.ProductoServicioId" class="form-label"></label>
									<span asp-validation-for="InputConceptos.ProductoServicioId" class="text-danger"></span>
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-12 mb-3">
								<h6>@Localizer["Detalles"]</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-lg-4">
								<div class="form-floating mb-4">
									<input id="inpCantidad" type="number" asp-for="InputConceptos.Cantidad" class="form-control formInput" placeholder="@Localizer["ColCantidadHeader"]" onchange="calcularTotal();" />
									<label for="inpCantidad" asp-for="InputConceptos.Cantidad" class="form-label"></label>
									<span asp-validation-for="InputConceptos.Cantidad" class="text-danger"></span>
								</div>
							</div>
							<div class="col-6 col-lg-4">
								<div class="form-floating mb-4">
									<input id="inpUnitario" type="number" asp-for="InputConceptos.Unitario" class="form-control formInput" placeholder="@Localizer["ColUnitarioHeader"]" onchange="calcularTotal();" />
									<label for="inpUnitario" asp-for="InputConceptos.Unitario" class="form-label"></label>
									<span asp-validation-for="InputConceptos.Unitario" class="text-danger"></span>
								</div>
							</div>
							<div class="col-6 col-lg-4">
								<div class="form-floating mb-4">
									<input id="inpDescuento" type="number" asp-for="InputConceptos.Descuento" class="form-control formInput" placeholder="@Localizer["ColDescuentoHeader"]" onchange="calcularTotal();" />
									<label for="inpDescuento" asp-for="InputConceptos.Descuento" class="form-label"></label>
									<span asp-validation-for="InputConceptos.Descuento" class="text-danger"></span>
								</div>
							</div>
							<div class="col-6 col-lg-4">
								<div class="form-floating mb-4">
									<input id="inpUnidad" type="search" asp-for="InputConceptos.UnidadId" class="form-control formInput" placeholder="@Localizer["ColUnidadHeader"]" idselected='' area="ERP" module="Prefacturas" source="GetUnidadesSuggestion" />
									<label for="inpUnidad" asp-for="InputConceptos.UnidadId" class="form-label"></label>
									<span asp-validation-for="InputConceptos.UnidadId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="form-floating mb-4">
									<input id="inpDescripcion" type="search" asp-for="InputConceptos.Descripcion" class="form-control formInput" placeholder="@Localizer["DescripcionPlaceholder"]" />
									<label for="inpDescripcion" asp-for="InputConceptos.Descripcion" class="form-label"></label>
									<span asp-validation-for="InputConceptos.Descripcion" class="text-danger"></span>
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-12 mb-3">
								<h6>@Localizer["Impuestos"]</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="form-floating mb-4">
									<select id="selObjetoImpuesto" asp-for="InputConceptos.ObjetoImpuestoId" class="form-select" placeholder="@Localizer["ObjetoImpuestoPlaceholder"]" onchange="onObjetoImpuestoChanged();">
										@{
											@foreach (ObjetoImpuesto objeto in objetosImpuesto)
											{
												<option clave='@objeto.Clave' value='@objeto.Id'>@objeto.Clave - @objeto.Descripcion</option>
											}
										}
									</select>
									<label for="selObjetoImpuesto" asp-for="InputConceptos.ObjetoImpuestoId" class="form-label"></label>
								</div>
							</div>
							<div id="divTraslado" class="col-12 col-sm-6 col-md-6 col-lg-3" hidden>
								<ul class="list-group">
									<li class="list-group-item form-floating mb-4 p-0 border-0">
										<select id="selTrasladoTipoImpuesto" asp-for="InputTraslado.TasaOCuotaId" class="form-select" placeholder="@Localizer["ColTrasladoHeader"]" onchange="onTrasladoAutomaticoChanged();">
											@{
												@foreach (TasaOCuota tasaOCuota in tocTraslados)
												{
													<option valorMaximo='@tasaOCuota.ValorMaximo' value='@tasaOCuota.Id'>@tasaOCuota.Descripcion ( @tasaOCuota.ValorMaximo.ToString("0.##") )</option>
												}
											}
										</select>
										<label for="selTrasladoTipoImpuesto" asp-for="InputTraslado.TasaOCuotaId" class="form-label"></label>
									</li>
									<li class="list-group-item form-floating mb-4 p-0 border-0" hidden>
										<input id="inpTraslado" type="number" asp-for="InputTraslado.Valor" class="form-control formInput" placeholder="@Localizer["ColTrasladoHeader"]" onchange="calcularTotal();" />
										<label for="inpTraslado" asp-for="InputTraslado.Valor" class="form-label"></label>
										<span asp-validation-for="InputTraslado.Valor" class="text-danger"></span>
									</li>
									<li class="form-check mb-4">
										<input class="form-check-input" type="checkbox" value="" id="inpTrasladoManual" onchange="onTrasladoManualChanged();">
										<label class="form-check-label" for="inpTrasladoManual">@Localizer["EsManual"]</label>
									</li>
								</ul>
							</div>
							<div id="divRetencion" class="col-12 col-sm-6 col-md-6 col-lg-3" hidden>
								<ul class="list-group">
									<li class="list-group-item form-floating mb-4 p-0 border-0">
										<select id="selRetencionTipoImpuesto" asp-for="InputRetencion.TasaOCuotaId" class="form-select" placeholder="@Localizer["ColRetencionHeader"]" onchange="onRetencionAutomaticaChanged();">
											@{
												@foreach (TasaOCuota tasaOCuota in tocRetenciones)
												{
													<option valorMaximo='@tasaOCuota.ValorMaximo' value='@tasaOCuota.Id'>@tasaOCuota.Descripcion ( @tasaOCuota.ValorMaximo.ToString("0.##") )</option>
												}
											}
										</select>
										<label for="selRetencionTipoImpuesto" asp-for="InputRetencion.TasaOCuotaId" class="form-label"></label>
									</li>
									<li class="list-group-item form-floating mb-4 p-0 border-0" hidden>
										<input id="inpRetencion" type="number" asp-for="InputRetencion.Valor" class="form-control formInput" placeholder="@Localizer["ColRetencionHeader"]" onchange="calcularTotal();" />
										<label for="inpRetencion" asp-for="InputRetencion.Valor" class="form-label"></label>
										<span asp-validation-for="InputRetencion.Valor" class="text-danger"></span>
									</li>
									<li class="form-check mb-4">
										<input class="form-check-input" type="checkbox" value="" id="inpRetencionManual" onchange="onRetencionManualChanged();">
										<label class="form-check-label" for="inpRetencionManual">@Localizer["EsManual"]</label>
									</li>
								</ul>
							</div>
						</div>
						<hr	/>
						<div class="row">
							<div class="col-3 col-md-5 col-lg-7 text-end">
								<h5>@Localizer["ColTrasladoHeader"]: </h5>
							</div>
							<div class="col-9 col-md-7 col-lg-5 text-center">
								<h5>$ <span id="trasladoProducto">0</span></h5>
							</div>
						</div>
						<div class="row">
							<div class="col-3 col-md-5 col-lg-7 text-end">
								<h5>@Localizer["ColRetencionHeader"]: </h5>
							</div>
							<div class="col-9 col-md-7 col-lg-5 text-center">
								<h5>$ <span id="retencionProducto">0</span></h5>
							</div>
						</div>
						<div class="row">
							<div class="col-3 col-md-5 col-lg-7 text-end">
								<h5>@Localizer["Total"]: </h5>
							</div>
							<div class="col-9 col-md-7 col-lg-5 text-center">
								<h5>$ <span id="totalProducto">0</span></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="dlgBtnCancelar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
						<i class="bi bi-x-lg"></i> @Localizer["CloseButtonTitle"]
					</button>
					@if (puedeTodo || puedeEditar)
					{
						<button id="dlgBtnAgregar" type="button" class="btn btn-primary formButton" onclick="onAgregarProductoServicioClick();">
							<i class="bi bi-plus-lg"></i> @Localizer["AddButton"]
						</button>
					}
				</div>
			</div>
		</div>
	</div>
	<!-- --------------------------- -->
	<!-- --------------------------- -->
</form>

<!-- ---------------------- -->
<!-- Sección Diálogo Emisor -->
<div id="dlgInfoEmisor" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">@Localizer["Emisor"]</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body align-items-center container-fluid">
				<div class="row">
					<div class="col-12" id="divFilledInfoEmisor" hidden>
						<ul class="nav nav-tabs nav-justified" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="tabAEmisor" data-bs-toggle="tab" data-bs-target="#infoEmpresaEmisorTab" type="button" role="tab" aria-controls="infoEmpresaEmisorTab" aria-selected="true">@Localizer["InformacionEmpresarial"]</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="tabBEmisor" data-bs-toggle="tab" data-bs-target="#actividadEmpresaEmisorTab" type="button" role="tab" aria-controls="actividadEmpresaEmisorTab" aria-selected="false">@Localizer["ActividadEconomica"]</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="tabCEmisor" data-bs-toggle="tab" data-bs-target="#objetoEmpresaEmisorTab" type="button" role="tab" aria-controls="objetoEmpresaEmisorTab" aria-selected="false">@Localizer["ObjetoSocial"]</button>
							</li>
						</ul>
						<div class="tab-content pt-4">
							<div class="tab-pane fade show active" id="infoEmpresaEmisorTab" role="tabpanel" aria-labelledby="tabAEmisor" tabindex="0">
								<div class="row mb-3">
									<div class="col-4 h6">
										@Localizer["RFC"]
									</div>
									<div class="col-4 h6">
										@Localizer["Origen"]
									</div>
									<div class="col-4 h6">
										@Localizer["Nivel"]
									</div>
									<div class="col-4">
										<label id="lblRFCEmisor" class="form-label form-control"></label>
									</div>
									<div class="col-4">
										<label id="lblOrigenEmisor" class="form-label form-control"></label>
									</div>
									<div class="col-4">
										<label id="lblNivelEmisor" class="form-label form-control"></label>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-12 h6">
										@Localizer["RazonSocial"]
									</div>
									<div class="col-12">
										<label id="lblRazonSocialEmisor" class="form-label form-control"></label>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-12 h6">
										@Localizer["Perfil"]
									</div>
									<div class="col-12">
										<label id="lblPerfilEmisor" class="form-label form-control"></label>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-12 h6">
										@Localizer["DomicilioFiscal"]
									</div>
									<div class="col-12">
										<label id="lblDomicilioFiscalEmisor" class="form-label form-control form-control"></label>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="actividadEmpresaEmisorTab" role="tabpanel" aria-labelledby="tabBEmisor" tabindex="0">
								<div class="row mb-3">
									<div class="col-12">
										<label id="lblActividadEconomicaEmisor" class="form-label form-control"></label>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="objetoEmpresaEmisorTab" role="tabpanel" aria-labelledby="tabCEmisor" tabindex="0">
								<div class="row mb-3">
									<div class="col-12">
										<label id="lblObjetoSocialEmisor" class="form-label form-control"></label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="divEmptyInfoEmisor" class="d-flex align-items-center justify-content-center opacity-25 col-12" style="height: 50vh;">
						<div class="text-center">
							<img class="empty-image-placeholder" src="@this.HttpContext.Request.Scheme://@this.HttpContext.Request.Host/img/empty_emitter.jpg" />
							<p class="fs-3">@Localizer["SearchSuggestionA"]</p>
							<p class="lead">
								@Localizer["SearchSuggestionB"]
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="display: inline !important;">
				<div class="container row">
					<div class="col-12 text-end">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							<i class="bi bi-x-lg"></i> @Localizer["CancelButtonTitle"]
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ---------------------- -->
<!-- ---------------------- -->

<!-- ------------------------ -->
<!-- Sección Diálogo Receptor -->
<div id="dlgInfoReceptor" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">@Localizer["Receptor"]</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body align-items-center container-fluid">
				<div class="row">
					<div class="col-12" id="divFilledInfoReceptor" hidden>
						<ul class="nav nav-tabs nav-justified" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="tabAReceptor" data-bs-toggle="tab" data-bs-target="#infoEmpresaReceptorTab" type="button" role="tab" aria-controls="infoEmpresaReceptorTab" aria-selected="true">@Localizer["InformacionEmpresarial"]</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="tabBReceptor" data-bs-toggle="tab" data-bs-target="#actividadEmpresaReceptorTab" type="button" role="tab" aria-controls="actividadEmpresaReceptorTab" aria-selected="false">@Localizer["ActividadEconomica"]</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="tabCReceptor" data-bs-toggle="tab" data-bs-target="#objetoEmpresaReceptorTab" type="button" role="tab" aria-controls="objetoEmpresaReceptorTab" aria-selected="false">@Localizer["ObjetoSocial"]</button>
							</li>
						</ul>
						<div class="tab-content pt-4">
							<div class="tab-pane fade show active" id="infoEmpresaReceptorTab" role="tabpanel" aria-labelledby="tabAReceptor" tabindex="0">
								<div class="row mb-3">
									<div class="col-4 h6">
										@Localizer["RFC"]
									</div>
									<div class="col-4 h6">
										@Localizer["Origen"]
									</div>
									<div class="col-4 h6">
										@Localizer["Nivel"]
									</div>
									<div class="col-4">
										<label id="lblRFCReceptor" class="form-label form-control"></label>
									</div>
									<div class="col-4">
										<label id="lblOrigenReceptor" class="form-label form-control"></label>
									</div>
									<div class="col-4">
										<label id="lblNivelReceptor" class="form-label form-control"></label>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-12 h6">
										@Localizer["RazonSocial"]
									</div>
									<div class="col-12">
										<label id="lblRazonSocialReceptor" class="form-label form-control"></label>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-12 h6">
										@Localizer["Perfil"]
									</div>
									<div class="col-12">
										<label id="lblPerfilReceptor" class="form-label form-control"></label>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-12 h6">
										@Localizer["DomicilioFiscal"]
									</div>
									<div class="col-12">
										<label id="lblDomicilioFiscalReceptor" class="form-label form-control"></label>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="actividadEmpresaReceptorTab" role="tabpanel" aria-labelledby="tabBReceptor" tabindex="0">
								<div class="row mb-3">
									<div class="col-12">
										<label id="lblActividadEconomicaReceptor" class="form-label form-control"></label>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="objetoEmpresaReceptorTab" role="tabpanel" aria-labelledby="tabCReceptor" tabindex="0">
								<div class="row mb-3">
									<div class="col-12">
										<label id="lblObjetoSocialReceptor" class="form-label form-control"></label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="divEmptyInfoReceptor" class="d-flex align-items-center justify-content-center opacity-25 col-12" style="height: 50vh;">
						<div class="text-center">
							<img class="empty-image-placeholder" src="@this.HttpContext.Request.Scheme://@this.HttpContext.Request.Host/img/empty_receiver.jpg" />
							<p class="fs-3">@Localizer["SearchSuggestionA"]</p>
							<p class="lead">
								@Localizer["SearchSuggestionB"]
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="display: inline !important;">
				<div class="container row">
					<div class="col-12 text-end">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							<i class="bi bi-x-lg"></i> @Localizer["CancelButtonTitle"]
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ------------------------ -->
<!-- ------------------------ -->

@section Scripts
{	
	<!-- Librería autocompletar y dependencias -->
	<link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
	<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
	<script src="~/js/autocompletar.js"></script>

	<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">

	<script src="~/lib/bootstrap-table/extensions/export/tableExport.min.js"></script>

	<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-es-MX.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-en-US.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>

	<!-- Scripts del módulo y dependencias -->
	<link rel="stylesheet" href="~/css/AdministradorDeComprobantes.css" />
	<script src="~/../Areas/ERP/Pages/AdministradorDeComprobantes.cshtml.js"></script>
	<script type="text/javascript">
		var cultureName = "@cultureName";
		var emisorLabel = '@Localizer["Emisor"]';
		var receptorLabel = '@Localizer["Receptor"]';
		var emptyInfo = '@Localizer["EmptyInfo"]';
		var title = '@Localizer["Title"]';
		var nivelNoPuedeFacturar = '@Localizer["NivelNoPuedeFacturar"]';
		var sinActividadesNoPuedeFacturar = '@Localizer["SinActividadesNoPuedeFacturar"]';
		var sinProductosServiciosNoPuedeFacturar = '@Localizer["SinProductosServiciosNoPuedeFacturar"]';
		var sinPerfilNoPuedeFacturar = '@Localizer["SinPerfilNoPuedeFacturar"]';
		var nivelMenorNoPuedeFacturar = '@Localizer["NivelMenorNoPuedeFacturar"]';
		var mismoNivelNoPuedeFacturar = '@Localizer["MismoNivelNoPuedeFacturar"]';
		var mismaDireccionNoPuedeFacturar = '@Localizer["MismaDireccionNoPuedeFacturar"]';
		var puedenFacturar = '@Localizer["PuedenFacturar"]';
		var msgAgregarProductoServicio = '@Localizer["AgregarProductoServicio"]';
		var sinProductoServicio = '@Localizer["SinProductoServicio"]';
		var productoServicioRepetido = '@Localizer["ProductoServicioRepetido"]';
		var productoServicioConClave = '@Localizer["ProductoServicioConClave"]';
		var noCorresponde = '@Localizer["NoCorresponde"]';
		var noPuedeFacturar = '@Localizer["NoPuedeFacturar"]';
		var faltaEmpresaParaComparar = '@Localizer["FaltaEmpresaParaComparar"]';
		var faltanEmpresasParaComparar = '@Localizer["FaltanEmpresasParaComparar"]';
		var almenosUnProductoServicioNecesario = '@Localizer["AlmenosUnProductoServicioNecesario"]';

		var nuevoRegistro = '@Localizer["NuevoRegistro"]';
		var btnVerTitle = '@Localizer["SeeButtonTitle"]';
		var btnEditarTitle = '@Localizer["EditButtonTitle"]';
		var btnPDFTitle = '@Localizer["PDFButtonTitle"]';
		var btnEliminarTitle = '@Localizer["DeleteButtonTitle"]';
		var btnAutorizarTitle = '@Localizer["AuthorizeButtonTitle"]';
		var btnTimbrarTitle = '@Localizer["StampButtonTitle"]';

		var dlgEditarTitle = '@Localizer["EditDialogTitle"]';
		var dlgVerTitle = '@Localizer["SeeDialogTitle"]';
		var dlgNuevoTitle = '@Localizer["NewDialogTitle"]';
		var dlgDeleteTitle = '@Localizer["DeleteCFDIDialogTitle"]';
		var dlgDeleteQuestion = '@Localizer["DeleteCFDIDialogQuestion"]';
		var dlgDeleteElementQuestion = '@Localizer["DeleteElementDialogQuestion"]';
		var dlgConfirmActionTitle = '@Localizer["ConfirmActionTitle"]';
		var dlgConfirmActionQuestion = '@Localizer["ConfirmActionQuestion"]';
		var dlgExportTitle = '@Localizer["ExportCFDIDialogTitle"]';

		var colSerieHeader = '@Localizer["ColSerieHeader"]';
		var colFolioHeader = '@Localizer["ColFolioHeader"]';
		var colFechaHeader = '@Localizer["ColFechaHeader"]';
		var colMonedaHeader = '@Localizer["ColMonedaHeader"]';
		var colFormaPagoHeader = '@Localizer["ColFormaPagoHeader"]';
		var colMetodoPagoHeader = '@Localizer["ColMetodoPagoHeader"]';
		var colUsoCFDIHeader = '@Localizer["ColUsoCFDIHeader"]';
		var colEstatusHeader = '@Localizer["ColEstatusHeader"]';
		var colAccionesHeader = '@Localizer["ColActionsHeader"]';

		var colCantidadHeader = '@Localizer["ColCantidadHeader"]';
		var colUnidadHeader = '@Localizer["ColUnidadHeader"]';
		var colClaveHeader = '@Localizer["ColClaveHeader"]';
		var colDescripcionHeader = '@Localizer["ColDescripcionHeader"]';
		var colUnitarioHeader = '@Localizer["ColUnitarioHeader"]';
		var colSubtotalHeader = '@Localizer["ColSubtotalHeader"]';
		var colDescuentoHeader = '@Localizer["ColDescuentoHeader"]';
		var colTrasladoHeader = '@Localizer["ColTrasladoHeader"]';
		var colRetencionHeader = '@Localizer["ColRetencionHeader"]';
		var colTotalHeader = '@Localizer["ColTotalHeader"]';

		var puedeTodo = '@puedeTodo' == 'True';
		var puedeConsultar = '@puedeConsultar' == 'True';
		var puedeEditar = '@puedeEditar' == 'True';
		var puedeEliminar = '@puedeEliminar' == 'True';
		var puedeAutorizar = '@puedeAutorizar' == 'True';
		var userId = '@userId';
		var authUsers = '@authUsers';
		authUsers = authUsers.split(",");
	</script>

	<partial name="_ValidationScriptsPartial" />
}
