@page "{handler?}"
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using ERPSEI.Data.Entities.SAT;
@using ERPSEI.Data.Managers.SAT;
@using ERPSEI.Data.Entities.Usuarios;
@using ERPSEI.Data.Managers.Usuarios;
@using ERPSEI.Data.Entities.SAT.Catalogos;
@using ERPSEI.Data.Managers.SAT.Catalogos;

@model ERPSEI.Areas.ERP.Pages.AdministradorDeComprobantesModel
@inject IViewLocalizer Localizer;
@inject ITasaOCuotaManager TasaOCuotaManager;
@inject IImpuestoManager ImpuestoManager;
@inject IObjetoImpuestoManager ObjetoImpuestoManager;
@inject ITipoComprobanteManager TipoComprobanteManager;
@inject IMonedaManager MonedaManager;
@inject IFormaPagoManager FormaPagoManager;
@inject IMetodoPagoManager MetodoPagoManager;
@inject IUsoCFDIManager UsoCFDIManager;
@inject IExportacionManager ExportacionManager;
@inject IAccesoModuloManager AccesosModulosManager;
@inject AppRoleManager RolesManager;
@inject AppUserManager UsuariosManager;
@inject IConfiguration Configuration;
@{
	ViewData["Title"] = Localizer["Title"];

	// Retrieves the requested culture
	IRequestCultureFeature? rqf = Request.HttpContext.Features.Get<IRequestCultureFeature>();

	// Culture contains the information of the requested culture
	System.Globalization.CultureInfo? culture = rqf != null ? rqf.RequestCulture.Culture : new System.Globalization.CultureInfo("es-MX");

	string cultureName = culture.Name;

	List<TasaOCuota> tasasOCuotas = await TasaOCuotaManager.GetAllAsync();
	List<TasaOCuota> tocTraslados = tasasOCuotas.Where(t => t.Traslado && t.Deshabilitado == 0).ToList();
	List <TasaOCuota> tocRetenciones = tasasOCuotas.Where(t => t.Retencion && t.Deshabilitado == 0).ToList();
	List<Impuesto> impuestos = await ImpuestoManager.GetAllAsync();
	List<ObjetoImpuesto> objetosImpuesto = await ObjetoImpuestoManager.GetAllAsync();
	List<TipoComprobante> tiposComprobante = await TipoComprobanteManager.GetAllAsync();
	List<Moneda> monedas = await MonedaManager.GetAllAsync();
	List<FormaPago> formasPago = await FormaPagoManager.GetAllAsync();
	List<MetodoPago> metodosPago = await MetodoPagoManager.GetAllAsync();
	List<UsoCFDI> usosCFDI = await UsoCFDIManager.GetAllAsync();
	List<Exportacion> exportaciones = await ExportacionManager.GetAllAsync();

	bool puedeTodo = User.Claims.Where(c => c.Type.Equals("PuedeTodo", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeConsultar = User.Claims.Where(c => c.Type.Equals("PuedeConsultar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeEditar = User.Claims.Where(c => c.Type.Equals("PuedeEditar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeEliminar = User.Claims.Where(c => c.Type.Equals("PuedeEliminar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
	bool puedeAutorizar = User.Claims.Where(c => c.Type.Equals("PuedeAutorizar", StringComparison.OrdinalIgnoreCase)).FirstOrDefault()?.Value == "1";
}
<h3 class="title mb-3">@ViewData["Title"]</h3>

<!-- --------------------------- -->
<!-- Sección de filtros -------- -->
<div class="accordion shadow mb-5" id="accordionFiltros">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				<h6>@Localizer["FilterTitle"]</h6>
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFiltros">
			<div class="accordion-body">
				<form id="filtros" method="post">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroFechaInicio" type="month" asp-for="InputFiltro.Fecha" class="form-control" placeholder="@Localizer["FechaPlaceholder"]" />
								<label for="inpFiltroFechaInicio" asp-for="InputFiltro.Fecha" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroSerie" asp-for="InputFiltro.Serie" class="form-control" placeholder="@Localizer["SeriePlaceholder"]" />
								<label for="selFiltroSerie" asp-for="InputFiltro.Serie" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<select id="selFiltroFormaPago" asp-for="InputFiltro.FormaPagoId" class="form-select" placeholder="@Localizer["FormaPagoPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										@foreach (FormaPago forma in formasPago)
										{
											<option value='@forma.Id'>@forma.Descripcion</option>
										}
									}
								</select>
								<label for="selFiltroFormaPago" asp-for="InputFiltro.FormaPagoId" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<select id="selFiltroMetodoPago" asp-for="InputFiltro.MetodoPagoId" class="form-select" placeholder="@Localizer["MetodoPagoPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										@foreach (MetodoPago metodo in metodosPago)
										{
											<option value='@metodo.Id'>@metodo.Descripcion</option>
										}
									}
								</select>
								<label for="selFiltroMetodoPago" asp-for="InputFiltro.MetodoPagoId" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-6">
							<div class="form-floating mb-3">
								<select id="selFiltroUsoCFDI" asp-for="InputFiltro.UsoCFDIId" class="form-select" placeholder="@Localizer["UsoCFDIPlaceholder"]">
									<option value="0">Seleccione...</option>
									@{
										@foreach (UsoCFDI uso in usosCFDI)
										{
											<option value='@uso.Id'>@uso.Descripcion</option>
										}
									}
								</select>
								<label for="selFiltroUsoCFDI" asp-for="InputFiltro.UsoCFDIId" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroUUID" type="search" asp-for="InputFiltro.UUID" class="form-control" placeholder="@Localizer["UUIDPlaceholder"]" idselected='' area="ERP" module="AdministradorDeComprobantes" source="GetUUIDSuggestion" />
								<label for="inpFiltroUUID" asp-for="InputFiltro.UUID" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroEmisor" type="search" asp-for="InputFiltro.Emisor" class="form-control" placeholder="@Localizer["EmisorPlaceholder"]" idselected='' area="ERP" module="AdministradorDeComprobantes" source="GetEmisorSuggestion" />
								<label for="inpFiltroEmisor" asp-for="InputFiltro.Emisor" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<input id="inpFiltroEmisor" type="search" asp-for="InputFiltro.Receptor" class="form-control" placeholder="@Localizer["ReceptorPlaceholder"]" idselected='' area="ERP" module="AdministradorDeComprobantes" source="GetReceptorSuggestion" />
								<label for="inpFiltroEmisor" asp-for="InputFiltro.Receptor" class="form-label"></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-floating mb-3">
								<select id="selFiltroEstatus" asp-for="InputFiltro.Estatus" class="form-select" placeholder="@Localizer["EstatusPlaceholder"]">
									<option value="0">Todos</option>
									<option value="1">Vigentes</option>
									<option value="2">Cancelados</option>
								</select>
								<label for="selFiltroEstatus" asp-for="InputFiltro.Estatus" class="form-label"></label>
							</div>
						</div>
					</div>
				</form>
				@if (puedeTodo || puedeConsultar || puedeEditar || puedeEliminar)
				{
					<div class="row text-end">
						<div class="col-12">
							<button id="btnBuscar" class="btn btn-primary" onclick="onBuscarClick();">
								<i class="bi bi-search"></i> @Localizer["SearchButton"]
							</button>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
<!-- --------------------------- -->
<!-- --------------------------- -->

<!-- --------------------------- -->
<!-- Sección tabla de resultados -->
<div id="toolbar" class="col-xl-12">
	@if (puedeTodo || puedeEditar)
	{
		<button id="btnCancelar" class="btn btn-primary" disabled>
			<i class="bi bi-x-lg"></i> <span class="d-none d-sm-inline">@Localizer["CancelButtonTitle"]</span>
		</button>
	}
	@if (puedeTodo || puedeConsultar)
	{
		<button id="btnExportar" class="btn btn-primary" disabled>
			<i class="bi bi-file-earmark-spreadsheet"></i> <span class="d-none d-sm-inline">@Localizer["ExportButtonTitle"]</span>
		</button>
		<a hidden id="downloadFileLink" href="@Url.Page("AdministradorDeComprobantes", "DownloadExcel")" class="btn btn-primary"></a>
	}
</div>
<table id="table" class="table-sm"
	   data-unique-id="id"
	   data-toolbar="#toolbar"
	   data-search="true"
	   data-show-fullscreen="true"
	   data-show-columns="true"
	   data-show-columns-toggle-all="true"
	   data-click-to-select="true"
	   data-minimum-count-columns="2"
	   data-show-pagination-switch="true"
	   data-pagination="true"
	   data-id-field="id"
	   data-page-list="[10, 25, 50, 100, all]"
	   data-show-footer="false"
	   data-side-pagination="client"
	   data-response-handler="responseHandler"
	   data-buttons-class="primary">
	<thead>
		<tr align="center" valign="middle" class="bg-primary bg-opacity-10">
		</tr>
	</thead>
</table>
<!-- --------------------------- -->
<!-- --------------------------- -->

@section Scripts
{	
	<!-- Librería autocompletar y dependencias -->
	<link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
	<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
	<script src="~/js/autocompletar.js"></script>

	<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">

	<script src="~/lib/bootstrap-table/extensions/export/tableExport.min.js"></script>

	<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-es-MX.min.js"></script>
	<script src="~/lib/bootstrap-table/locale/bootstrap-table-en-US.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>

	<!-- Scripts del módulo y dependencias -->
	<link rel="stylesheet" href="~/css/AdministradorDeComprobantes.css" />
	<script src="~/../Areas/ERP/Pages/AdministradorDeComprobantes.cshtml.js"></script>
	<script type="text/javascript">
		var cultureName = "@cultureName";
		var emisorLabel = '@Localizer["Emisor"]';
		var receptorLabel = '@Localizer["Receptor"]';
		var emptyInfo = '@Localizer["EmptyInfo"]';
		var title = '@Localizer["Title"]';

		var btnVerTitle = '@Localizer["SeeButtonTitle"]';
		var btnPDFTitle = '@Localizer["PDFButtonTitle"]';

		var dlgVerTitle = '@Localizer["SeeDialogTitle"]';
		var dlgExportTitle = '@Localizer["ExportCFDIDialogTitle"]';

		var colSerieHeader = '@Localizer["ColSerieHeader"]';
		var colFolioHeader = '@Localizer["ColFolioHeader"]';
		var colFechaHeader = '@Localizer["ColFechaHeader"]';
		var colMonedaHeader = '@Localizer["ColMonedaHeader"]';
		var colFormaPagoHeader = '@Localizer["ColFormaPagoHeader"]';
		var colMetodoPagoHeader = '@Localizer["ColMetodoPagoHeader"]';
		var colUsoCFDIHeader = '@Localizer["ColUsoCFDIHeader"]';
		var colEstatusHeader = '@Localizer["ColEstatusHeader"]';
		var colAccionesHeader = '@Localizer["ColActionsHeader"]';

		var colCantidadHeader = '@Localizer["ColCantidadHeader"]';
		var colUnidadHeader = '@Localizer["ColUnidadHeader"]';
		var colClaveHeader = '@Localizer["ColClaveHeader"]';
		var colDescripcionHeader = '@Localizer["ColDescripcionHeader"]';
		var colUnitarioHeader = '@Localizer["ColUnitarioHeader"]';
		var colSubtotalHeader = '@Localizer["ColSubtotalHeader"]';
		var colDescuentoHeader = '@Localizer["ColDescuentoHeader"]';
		var colTrasladoHeader = '@Localizer["ColTrasladoHeader"]';
		var colRetencionHeader = '@Localizer["ColRetencionHeader"]';
		var colTotalHeader = '@Localizer["ColTotalHeader"]';

		var puedeTodo = '@puedeTodo' == 'True';
		var puedeConsultar = '@puedeConsultar' == 'True';
		var puedeEditar = '@puedeEditar' == 'True';
		var puedeEliminar = '@puedeEliminar' == 'True';
		var puedeAutorizar = '@puedeAutorizar' == 'True';
	</script>

	<partial name="_ValidationScriptsPartial" />
}
